@import 'css/variables';

@import 'snow-theme';
@import 'ql-toolbar';
@import 'placeholder-for-loading-image';

.quill{
  position: relative;
  &.-readOnly{
    *:not(a) { cursor: default !important; }
  }
  > .ql-container > .ql-editor{
    min-height: 58px;
    font-size: 15px;

    height: 100%;
    outline: none;
    overflow-y: auto;
    padding: 12px 15px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;

    font-family: 'Open Sans';

    // color: rgb(206, 199, 245);
    // We need !important-s because we have to override styles copypasted by users
    code, span, em, strong, b, a, sup, sub, blockquote, mark, p{
      color: rgb(206, 199, 245) !important;
      background: rgba(0, 0, 0, 0) !important;
    }

    strong{
      font-family: inherit;
      font-weight: 100;
      color: rgb(226, 148, 20) !important;
    }
    em{
      color: $purple !important;
      font-style: normal;
    }
    a{
      color: $purple !important;
      text-decoration: underline;
    }

    pre.ql-syntax, code{
      background: rgb(13, 16, 49) !important;
      color: $purple !important;

      font-size: 13px;

      white-space: pre-wrap;
      border-radius: 3px;
    }
    pre.ql-syntax{
      margin: 5px 0;
      padding: 5px 10px;
    }
    code{
      padding: 2px 6px;
    }
    code *{
      background: rgb(13, 16, 49) !important;
      color: $purple !important;
    }
    sup, sub{
      font-size: 13px;
      strong{ font-size: inherit; }
    }
    ul, ol{
      padding-left: 15px;
      list-style-type: initial;
      li{
        padding-left: 0;
      }
    }
    blockquote{
      font-size: 12px;
      border-left: 1px solid rgba(206, 199, 245, 0.62);
      color: rgb(206, 199, 245) !important;
      background: rgba(21, 23, 45, 0.38) !important;
      padding: 4px 16px;
    }

    img{
      background: white !important;
      max-width: 100%;
    }
  }
  // placeholder!
  > .ql-container > .ql-editor.ql-blank::before{
    font-style: normal;
    padding-right: 10px;
    line-height: 20px;
    color: rgb(172, 181, 218);
  }
}

@media(max-width: 600px){
  .quill > .ql-toolbar{
    display: none !important;
  }
}
