.quill > .ql-toolbar{
  border: none;
  padding: 2px 10px;
  background: rgb(34, 38, 74);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  button:hover, button.ql-active{
    .ql-stroke{
      stroke: rgb(226, 148, 20) !important;
    }
    .ql-fill{
      fill: rgb(226, 148, 20) !important;
    }
  }
  .ql-formats{
    display: inline-block;;
    &:last-child{
      margin-right: 0;
    }
  }
}
