@import 'css/variables';

.quill > .ql-toolbar{
  border: none;
  padding: 2px 10px;
  background: rgb(34, 38, 74);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  button:hover, button.ql-active{
    .ql-stroke{
      stroke: rgb(56, 190, 155) !important;
    }
    .ql-fill{
      fill: rgb(56, 190, 155) !important;
    }
  }
  .ql-formats{
    display: inline-block;;
    &:last-child{
      margin-right: 0;
    }
  }
}
.ql-tooltip{
  input{
    border-radius: 3px;
    padding: 3px 10px;
  }
  input::-webkit-input-placeholder{
    color: rgb(86, 90, 158);
  }
  .ql-action:hover{
    color: rgb(187, 191, 234);
  }
}
.quill-toolbar-tooltip{
  text-align: center;
  .explanation{
    font-size: 11px;
  }
  .shortcut{
    color: rgb(56, 190, 155);
    font-size: 11px;
  }
  .instruction{
    color: $purple;
    font-size: 10px;
  }
}
