@import 'css/variables';

:local(.section){
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;

  > .course-card{
    margin: 0 10px;
    margin-top: 20px;
  }

  > .layout-div{
    width: 199px;
    margin: 20px 10px;
  }
}
