@import 'css/variables';

:local(section.instructions){
  > h3.there-are-two-types{
    font-weight: bold;
  }
  > ol.two-types{
    padding-left: 17px;
    list-style-type: none;
    padding-left: 0;
    
    > li{
      border-top: 1px solid $sims-green-color;
      padding-top: 10px;
      > .how-to-create-and-gif{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 20px;
        padding-top: 10px;
        ol.how-to-create{
          b{ color: #102494; }
        }
      }
      > h3{
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        > div.type{
          width: 54px;
          margin: 0 auto;
          margin-bottom: 5px;

          background: #333030;
          color: white;
          letter-spacing: 1px;
          line-height: 1.3;

          font-family: $body-font;
          font-weight: bold;
          font-size: 9px;
          padding: 4px;
          text-align: center;
        }
      }
    }
  }
}
