@import 'css/variables';

:local(.old-problem){
  position: relative;
  margin-bottom: 20px;
  padding: 4px 0;
  border-radius: 2px;

  > .problem{
    &.-not-focused .ql-toolbar{ display: none; }
    &.-focused .ql-toolbar{ display: block; }

    .ql-toolbar{
      position: absolute;
      left: 0; right: 0;
      bottom: 100%;
    }
  }

  > section.checkbox{
    position: absolute;
    right: -30px;
    top: 0; bottom: 0;
    width: 26px;

    cursor: pointer;
    // this prevents all flashcard texts from being selected when we click cmd+shift!
    user-select: none;

    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    background: rgba(181, 34, 218, 0.12);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.-checked,
  &.-checked > section.checkbox,
  &.-not-checked > section.checkbox:hover{
    background: rgba(181, 34, 218, 0.78);
  }
}
