@import 'css/variables';

:local(.old-problem){
  position: relative;
  border-radius: 2px;
  margin-bottom: 15px;

  padding: 8px;

  > .problem{
    &.-not-focused .ql-toolbar{ display: none; }
    &.-focused .ql-toolbar{ display: block; }

    .ql-toolbar{
      position: absolute;
      left: 0; right: 0;
      bottom: 100%;
    }
  }

  > section.checkbox{
    position: absolute;
    right: -30px;
    top: 8px; bottom: 8px;
    width: 26px;

    cursor: pointer;
    // this prevents all flashcard texts from being selected when we click cmd+shift!
    user-select: none;

    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    background: rgba(136, 125, 220, 0.12);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    transition-duration: 200ms;
    transition-property: bottom, top;
  }
  &.-checked,
  &.-checked > section.checkbox,
  &.-not-checked > section.checkbox:hover{
    background: $purple;
  }

  transition-duration: 300ms;
  transition-property: background;
  &.-checked{
    > section.checkbox{
      top: 0;
      bottom: 0;
    }
  }
}
