@import 'css/variables';

:local(.tooltip){
  .course-li{
    margin-bottom: 2px;
    font-size: 15px;

    .title{
      letter-spacing: 0.3px;
      font-family: "Roboto";
      font-weight: 100;
      mark{
        color: $purple;
      }
    }

    a{
      background: #35395bb3;
      border-radius: 2px;

      display: flex;
      align-items: center;
      position: relative;
      padding: 5px 10px;
      padding-right: 45px;

      .action{
        width: 45px;
        position: absolute;
        right: 0; top: 0; bottom: 0;
        font-size: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        &:hover{
          transition-duration: 50ms;
        }
      }
    }

    &.-review{
      .action{
        background: $review-button-color;
      }
      a:hover{
        background: transparentize($review-button-color, 0.3);
      }
    }
    &.-learn{
      .action{
        background: $learn-button-color;

      }
      a:hover{
        background: transparentize($learn-button-color, 0.3);
      }
    }
    &.-next-due-date-in{
      a{ padding-right: 65px; }
      .action{
        background: rgb(66, 69, 98);
        width: 65px;
      }
      a:hover{
        background: transparentize(rgb(66, 69, 98), 0.3);
      }
    }
    &.-pinned{
      .action{
        // background: rgb(66, 69, 98);
        font-size: 14px;
      }
      a:hover{
        background: transparentize(rgb(66, 69, 98), 0.3);
      }
    }
  }
}
