@import 'css/variables';
:local(main.main){
  .sorting-options{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px 0;
    > section.sort-by{
      display: flex;
      align-items: center;
      font-family: $heading-font;

      > label{
        font-weight: bold;
        font-size: 14px;
        padding-right: 10px;
      }
      > .select-dropdown{
        button.toggler{
          i{ padding-left: 7px; }
          text-transform: uppercase;
          font-size: 11px;
          min-width: 141px;
          justify-content: flex-end;
          padding: 2px;
        }
        .standard-dropdown li{
          font-size: 12px;
          text-align: right;
        }
      }
    }
  }
  section.pagination.-for-mobile{ display: none; }
  .courses-and-nav{
    display: flex;
    > nav.standard-list-of-course-categories{
      width: 220px;
      flex-grow: 0;
      flex-shrink: 0;

      margin-right: 20px;
      margin-bottom: 30px;
    }
    > .loading.loading-courses{
      margin: 0 auto;
    }
  }
}

:local(main.main){
  @media(max-width: 630px){
    .standard-list-of-course-categories{ display: none; }
  }
  @media(max-width: 400px){
    .sorting-options section.pagination{ display: none; }
    section.pagination.-for-mobile{
      display: flex;
      justify-content: center;
      padding-bottom: 80px; padding-top: 20px;
    }
  }
}
