@import 'css/variables';
:local(main.main){
  > .loading.-request{
    margin-top: 100px;
  }
  > .container.standard-navigation_and_courses{
    > div.title_and_sorting_and_courses{
      > ul.pagination{
        justify-content: flex-end;
        margin-top: 20px;
        > li:last-child{
          margin-right: 0;
        }
      }

      > section.list-of-courses{
        margin-top: 20px;

        opacity: 1;
        transition-property: opacity;
        transition-duration: 0.3s;
        &.-loading{
          opacity: 0.5;
        }
      }
    }
  }
}
