@import 'css/variables';
:local(main.main){
  > .loading.-request{
    margin-top: 100px;
  }
  > .container.standard-navigation_and_courses{
    > div.title_and_sorting_and_courses{
      > ul.pagination{
        justify-content: flex-end;
        margin-top: 20px;
        > li:last-child{
          margin-right: 0;
        }
      }

      > section.list-of-courses{
        margin-top: 20px;

        opacity: 1;
        transition-property: opacity;
        transition-duration: 0.3s;
        &.-loading{
          opacity: 0.5;
        }
      }
    }
  }
}


.standard-navigation_and_courses{
  @media(max-width: 1200px){
    > nav.course-categories-nav{
      width: 170px;
      margin-right: 20px;
    }
  }

  @media(max-width: 900px){
    // flex-wrap: wrap;
    > nav.course-categories-nav{
      display: none;
    }
    // > div.title_and_sorting_and_courses{
    //   > .title_and_sorting{
    //     flex-wrap: wrap;
    //     > h1.title{
    //       width: 100%;
    //     }
    //     > section.select-dropdown{
    //       margin-top: 20px;
    //     }
    //   }
    // }
  }
}
