@import 'css/variables';

:local(section.search){
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  > div.toggler{
    // position
    width: 100%;
    height: 38px;
    align-self: center;
    position: relative;
    i{
      position: absolute;
      top: 11px;
      left: 16px;
    }
    input{
      width: 100%;
      height: 100%;
      padding-left: 45px;
    }

    // looks
    background: rgb(24, 27, 57);
    font-size: 13px;
    border-radius: 2px;
    input{
      background: transparent;
      color: white;
      transition-duration: 200ms;
      transition-property: background;
      &::placeholder{
        color: $faint-blue;
      }
    }
    i{
      font-size: 16px;
      color: $faint-blue;
    }
  }
  > div.standard-dropdown{
    width: 100%;
    max-height: 300px;
    padding: 0;
    background: rgb(15, 17, 34);
    box-shadow: 0px 6px 9px 0px #181a2e;
    outline: 1px solid rgb(23, 27, 55);
    margin-top: -4px;
    border-top: none;
    > div.header{
      display: none;
      padding: 5px 10px;
      font-size: 12px;
      text-align: right;
    }
    > ul{
      > li{ padding: 0; }
      > li > a{
        display: block;
        border-bottom: 1px solid rgba(31, 37, 76, 0.49);
        position: relative;
        > div.status{
          color: rgb(106, 126, 171);
          position: absolute;
          top: 5px;
          right: 6px;
        }
        > div.title_and_description{
          width: 100%;
          padding: 6px 10px;
          > div.title, > div.description{
            mark{
              color: $orange;
              text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.2);
            }
            p{ margin: 0 }
          }
          > div.title{
            font-size: 13px;
            // for a hat to fit
            padding-right: 10px;
          }
          > div.description{
            padding-top: 5px;
            font-size: 11px;
            color: rgba(255, 255, 255, 0.48);
            overflow-x: hidden;
          }
        }
        > div.course-stats{
          width: 100%;
          display: flex;
          font-size: 11px;
          padding-left: 10px;
          padding-bottom: 4px;
          color: rgb(106, 126, 171);
          > div{
            padding-right: 5px;
          }
          > div.amount-of-students{
            i{
              padding-right: 4px;
            }
          }
          > div.course-category-name{
          }
        }
      }
    }
  }
}
