@import 'css/variables';

:local(.old-problem){
  position: relative;
  border-radius: 2px;
  margin-bottom: 18px;
  padding: 8px;

  > .problem{
    .ql-toolbar{
      position: absolute;
      left: 0; right: 0;
      bottom: 100%;
      opacity: 0;
      z-index: -100;
    }

    &:focus-within{
      .ql-toolbar{
        opacity: 1;
        z-index: 10;
      }
    }
  }

  > section.checkbox{
    position: absolute;
    right: -30px;
    top: 8px; bottom: 8px;
    width: 26px;

    cursor: pointer;
    // this prevents all flashcard texts from being selected when we click cmd+shift!
    user-select: none;

    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    background: rgba(136, 125, 220, 0.12);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    transition-duration: 200ms;
    transition-property: bottom, top;
  }
  &.-checked,
  &.-checked > section.checkbox,
  &.-not-checked > section.checkbox:hover{
    background: $purple;
  }

  transition-duration: 300ms;
  transition-property: background;
  &.-checked{
    > section.checkbox{
      top: 0;
      bottom: 0;
    }
  }

  > section.save-changes{
    position: absolute;
    left: calc(100% + 40px);
    top: 8px;
    button.save-changes-button{
      width: 70px;
      font-size: 11px;
      min-width: auto;
      padding: 7px 15px;
      background: rgb(30, 31, 57);
      border-radius: 2px;
      // border: 1px solid rgb(30, 31, 57);
      &:hover, &:focus{
        background: rgb(41, 42, 77);
      }
      // &:focus{
      //   border: 1px solid rgb(45, 225, 83);
      // }
      &.-saving{
        cursor: default;
        pointer-events: none;

        background: linear-gradient(to right, rgba(0, 0, 0, 0) 33%, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0) 66%), rgb(30, 31, 57);
        background-size: 400% 100%,cover;
        animation:change 1s linear infinite;
      }
      &.-just-saved{
        color: rgb(33, 165, 153);
      }
    }
    .shortcut{
      font-size: 10px;
      padding-top: 8px;
      text-align: center;
      // color: rgb(140, 143, 191);
      color: rgb(33, 165, 153);
    }
  }
}

@keyframes change {
  from { /*Use "to" to change the direction */
    background-position: right, center;
  }
}

