@import 'css/variables';

:local(main.main){
  > section.for-beginners > .container{
    text-align: center;
    max-width: 1000px;
    > article.welcome{
      > h1.title{
        margin-top: 40px;
        font-size: 40px;
        color: $purple;
      }
      > div.description{
        h2{
          margin-top: 30px;
          margin-bottom: 30px;
        }
        a{ color: $purple; }
      }
    }
    > hr{
      margin: 40px auto;
      border: none;
      border-bottom: 1px solid rgba(94, 140, 245, 0.07);
      max-width: 551px;
    }

    > h2.meanwhile-here-are-popular-courses-title{
      margin: 20px 0;
      margin-bottom: 40px;
    }
  }

  > .container{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    > nav.course-categories-nav{
      width: 231px;
      flex-grow: 0;
      flex-shrink: 0;
      border-right: 1px solid rgba(223, 201, 247, 0.06);

      margin-right: 70px;
      padding-bottom: 140px;
    }
    > div.title_and_sorting_and_courses{
      // helps .loading to stay wide
      width: 100%;
      > div.title_and_sorting{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        > h1.title{
          font-size: 32px;
          font-weight: 100;
          letter-spacing: 0.3px;
        }

        > section.sort-by-dropdown-wrapper{
          max-width: 200px;
          > button.toggler{
            padding-left: 10px;
            padding-right: 10px;
            width: 151px;
          }
          > ul.standard-dropdown{
            padding: 0;
            li{
              padding: 0;
              a{
                padding: 10px;
                display: block;
              }
            }
          }
        }
      }

      > ul.pagination{
        justify-content: flex-end;
        margin-top: 20px;
        > li:last-child{
          margin-right: 0;
        }
      }

      > div.list-of-courses-loading{
      }
      > section.list-of-courses{
        margin-top: -30px;
        opacity: 1;
        transition-property: opacity;
        transition-duration: 0.3s;
        &.-loading{
          opacity: 0.5;
        }
      }
    }
  }  
}
