:local(section.course-details){
  > .toggler{
    font-size: 12px;
    cursor: pointer;
    &:hover{
      i{ color: red; }
    }
    i{ padding-left: 5px; }
  }
  > .modal{
    padding: 10px;
    position: absolute;
    z-index: 100;
    background: white;
    border: 2px solid #715d5d;
    width: 100%;
    box-sizing: border-box;
    form{
      .button.-black{
        margin-left: 0;
        margin-bottom: 0;
        display: inline-block;
      }
      .request{
        font-size: 9px;
        padding: 0;
        display: inline-block;
        vertical-align: middle;
        padding-left: 10px;
      }
    }
    > .delete-course{
      font-size: 10px;
      color: red;
      border: 1px solid grey;
      max-width: 100px;
      padding: 5px;
      text-transform: uppercase;
      cursor: pointer;
      position: absolute;
      top: 0; right: 0;
      .request{
        font-size: 10px;
      }
    }
  }
}
