@import 'css/variables';

:local(main.main){
  section.problems{
    > .problem-wrapper{
      cursor: pointer;
      padding: 10px;
      &.-learned{
        outline: $sims-green-color 3px solid;
        background: #a1f5a1;
      }
      > .problem{
        margin-bottom: 0;
      }
      .DraftEditor-root{ background: white; }
    }
    margin-bottom: 40px;
  }
}
