@import 'css/variables';

:local(main.main){
  > nav{
    > ul.tab-links{
      background: rgb(14, 16, 49);

      display: flex;
      justify-content: center;
      align-items: center;

      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 1.1px;
      > li{
        padding: 20px 20px;
        padding-bottom: 13px;
        cursor: pointer;
        &.-active{
          // color: $purple;
          // background: $purple;

          // color: rgb(150, 137, 249);
          border-bottom: 1px solid rgb(150, 137, 249);
        }
        &.-not-active{
          border-bottom: 1px solid transparent;
          // color: black;
          // background: #ececec78;
        }
      }
    }
    > section.instructions{
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 12px;
      text-align: center;
      line-height: 20px;
      letter-spacing: 0.2px;
      em{
        font-style: normal;
        text-transform: uppercase;
      }
      em.review{ color: $review-button-color; }
      em.learn{ color: $learn-button-color; }
    }
  }

  > section.tab-content{
    margin-top: 40px;
    margin-bottom: 40px;

    div.problem-wrapper{
      max-width: 960px;
      padding: 10px 10px;
      margin: 0 auto;
      margin-bottom: 20px;

      border-radius: 5px;
      box-shadow: 0px 0px 32px 4px rgba(224, 174, 234, 0.08);
      .quill{
        height: 100%;
      }
      .ql-editor{ cursor: default; }
      &.-ignored{
        background: rgb(23, 23, 22);
        section.problem{
          opacity: 0.4;
          filter: grayscale(100%);
        }
      }
      &.-learned{
        background: $learn-button-color;
      }
      &.-yet-to-learn{
        .button-wrapper.-learn{
          // overlay with -learn wrapper so that whole problem is clickable
          width: 100%;
          cursor: pointer;
          z-index: 1001;
        }
      }

      position: relative;
      .button-wrapper{
        position: absolute;
        top: 2px; bottom: 0;
        right: 0;
        &.-disabled{ opacity: 0.3; cursor: default; button{ cursor: default; } }

        button{
          position: absolute;
          left: calc(100% + 5px);
          padding: 10px 5px;
          font-size: 10px;
          min-width: 92px;
          &.-ignore, &.-unignore{
            top: 42px;
          }

          // color of buttons
          &.-ignore, &.-unignore{
            color: rgb(255, 255, 255);
            border: 1px solid $learn-button-color;
            // border: 1px solid rgba(75, 77, 80, 0.22);
          }
          &.-learn, &.-unlearn{
            background: $learn-button-color;
            // border: 1px solid rgb(0, 0, 255);
            color: white;
          }

          // for the undo icon
          display: flex;
          align-items: center;
          > i.fa-undo{ padding-right: 5px; }
        }
      }
    }
  }

  @media(max-width: 900px){
    > header section.search{
      display: none;
    }
    > section.course-actions{
      > section.title-and-buttons{
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    nav ul.tab-links{ display: none; }
    .problem-wrapper{
      .button-wrapper button{ display: none !important; }
      section.problem{
        display: block;
        div.first-column,
        div.second-column{
          width: 100%;
        }
        div.first-column{
          padding-right: 0;
        }
        div.second-column{
          padding-left: 0;
          padding-top: 20px;
        }
      }
    }
  }
}
