@use "sass:meta";
@use 'css/variables.scss';

@import '~font-awesome/css/font-awesome.css';

// for flashcards, we need all the languages and weights!
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
// for the UI
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700');


@include meta.load-css('css/clear-default-css.scss');
@include meta.load-css('css/focus-styles.scss');
@include meta.load-css('css/bright-theme.scss');

@include meta.load-css('css/react-select.scss');
@include meta.load-css('css/quill/index.scss');
@include meta.load-css('css/tippy-tooltip.scss');

@include meta.load-css('css/container.scss');
@include meta.load-css('css/button.scss');
@include meta.load-css('css/action.scss');
@include meta.load-css('css/standard-form.scss');
@include meta.load-css('css/standard-input.scss');
@include meta.load-css('css/standard-dropdown.scss');
@include meta.load-css('css/standard-tooltip.scss');
@include meta.load-css('css/standard-article-formatting.scss');
@include meta.load-css('css/standard-modal.scss');
@include meta.load-css('css/standard-tab-navigation.scss');
@include meta.load-css('css/standard-success-message.scss');
@include meta.load-css('css/standard-title-and-description.scss');
@include meta.load-css('css/standard-dropdown-with-arrow.scss');
@include meta.load-css('css/standard-navigation_and_courses.scss');
@include meta.load-css('css/standard-course-card.scss');
@include meta.load-css('css/standard-tooltip-dropdown.scss');
@include meta.load-css('css/standard-table.scss');
@include meta.load-css('css/loading.scss');

@include meta.load-css('css/problem.scss');

// probably useless, get rid of this?
div.space{
  margin-top: 35px;
}
// experimental good-for-bg design
main{
  // We might want a shared bg for this in the future!
  // .ProblemBeingSolved .Subheader,
  // .course-description-and-stats,
  // .title-and-buttons{
  //   background: none !important;
  // }

  .ProblemBeingSolved .problem, header{
    background: rgba(247, 247, 253, 0.04) !important;
  }
  .ProblemBeingSolved .problem{    
    @media(max-width: 900px){
      background: none !important;
    }
  }

  section.problem .ql-editor, .ql-toolbar, .see-answer-button{
    background: #22264ac2;
    &:focus{
      background: #22264aed;
    }
  }
}
