$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

// for flashcards, we need all the languages and weights!
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
// for the UI
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700');

@import 'css/variables.scss';

@import 'css/clear-default-css.scss';
@import 'css/focus-styles.scss';
@import 'css/bright-theme.scss';

@import 'css/react-select.scss';
@import 'css/quill/index.scss';
@import 'css/tippy-tooltip.scss';

@import 'css/container.scss';
@import 'css/button.scss';
@import 'css/action.scss';
@import 'css/standard-form.scss';
@import 'css/standard-input.scss';
@import 'css/standard-dropdown.scss';
@import 'css/standard-tooltip.scss';
@import 'css/standard-article-formatting.scss';
@import 'css/standard-modal.scss';
@import 'css/standard-tab-navigation.scss';
@import 'css/standard-success-message.scss';
@import 'css/standard-title-and-description.scss';
@import 'css/standard-dropdown-with-arrow.scss';
@import 'css/standard-navigation_and_courses.scss';
@import 'css/standard-course-card.scss';
@import 'css/standard-tooltip-dropdown.scss';
@import 'css/standard-table.scss';
@import 'css/loading.scss';

@import 'css/problem.scss';

// probably useless, get rid of this?
div.space{
  margin-top: 35px;
}
// experimental good-for-bg design
main{
  // We might want a shared bg for this in the future!
  // .ProblemBeingSolved .Subheader,
  // .course-description-and-stats,
  // .title-and-buttons{
  //   background: none !important;
  // }

  .ProblemBeingSolved .problem, header{
    background: rgba(247, 247, 253, 0.04) !important;
  }
  .ProblemBeingSolved .problem{    
    @media(max-width: 900px){
      background: none !important;
    }
  }

  section.problem .ql-editor, .ql-toolbar, .see-answer-button{
    background: #22264ac2;
    &:focus{
      background: #22264aed;
    }
  }
}
