$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

// for flashcards, we need all the languages and weights!
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
// for the UI
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700');

@import 'css/variables';

@import 'css/clear-default-css';
@import 'css/focus-styles';

@import 'css/quill/index';
@import 'css/container';
@import 'css/button';
@import 'css/action';
@import 'css/standard-form';
@import 'css/standard-input';
@import 'css/standard-dropdown';
@import 'css/standard-tooltip';
@import 'css/standard-article-formatting';
@import 'css/standard-modal';
@import 'css/standard-tab-navigation';
@import 'css/standard-success-message';
@import 'css/standard-title-and-description';
@import 'css/standard-dropdown-with-arrow';
@import 'css/standard-navigation_and_courses';
@import 'css/standard-course-card';
@import 'css/standard-tooltip-dropdown';

@import 'css/problem';

// useless, get rid of this
div.space{
  margin-top: 35px;
}


// Move to some place if we'll be using joyride again
//
// joyride
.__floater__body{
  > div{
    // padding: 0 !important;
    > div:nth-child(1){
      font-size: 13px !important;
      > div{
        color: rgb(140, 138, 138);
      }
    }
    > div:nth-child(2){
      margin-top: 0 !important;
    }
  }
}
// to allow ESC on click, but to have no darkened bg
.joyride-overlay{
  opacity: 0;
}
