$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

// for flashcards, we need all the languages and weights!
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
// for the UI
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700');

@import 'css/variables';

@import 'css/clear-default-css';
@import 'css/focus-styles';

@import 'css/react-select';
@import 'css/quill/index';
@import 'css/tippy-tooltip';

@import 'css/container';
@import 'css/button';
@import 'css/action';
@import 'css/standard-form';
@import 'css/standard-input';
@import 'css/standard-dropdown';
@import 'css/standard-tooltip';
@import 'css/standard-article-formatting';
@import 'css/standard-modal';
@import 'css/standard-tab-navigation';
@import 'css/standard-success-message';
@import 'css/standard-title-and-description';
@import 'css/standard-dropdown-with-arrow';
@import 'css/standard-navigation_and_courses';
@import 'css/standard-course-card';
@import 'css/standard-tooltip-dropdown';
@import 'css/standard-table';
@import 'css/loading';

@import 'css/problem';

// useless, get rid of this
div.space{
  margin-top: 35px;
}


body.-bright-theme{
  background: white;
  filter: invert(1) hue-rotate(165deg);
  transition: background 200ms;

  .ql-editor:focus{
    background: black !important;
  }

  // Really needed for my font, especially visible in light theme :-o
  // ___WHY did I remove it???
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

  img, .button, .toggle-button,
  .standard-course-card .learn-and-review-buttons .links, .standard-course-card .amount-footer,
  .answer-input, .stars .star{
    filter: invert(1) hue-rotate(-165deg);
  }
  ul.stars .star{
    border-right: 1px solid rgb(255, 255, 255) !important;
  }
  section.problem.-withInlinedAnswers input.answer-input[data-answered='waiting']{
    color: rgb(79, 73, 108) !important;
  }
  section.problem .ql-editor{
    background: black;
  }

  .button.-ignore, .button.-unignore{
    color: black !important;
  }

  em.review-emphasis{
    color: rgb(9, 143, 70) !important;
  }
  em.white-emphasis{
    filter: invert(1) hue-rotate(-165deg);
  }

  section.problem.-withSeparateAnswer .first-column .ql-editor {
      border: 2px solid rgb(13, 41, 141);
  }

  section.problem.-withInlinedAnswers mark.answer{
    border: 2px solid rgba(17, 88, 30, 0.9);
  }

  header{
    background: black !important;
  }
  header input{
    background: rgb(32, 35, 73) !important;
  }
  .course-actions .course-title_and_category_and_author .buttons .button{
    color: black !important;
    &:hover{
      color: white !important;
    }
  }

  *{
    text-shadow: none !important;
  }

  .ProblemBeingSolved section.problem{
    background: rgb(14, 16, 49) !important;
    @media(max-width: 900px){
      background: none !important;
    }
  }

  button.see-answer-button{
    background: black !important;
    border: 2px solid rgb(2, 50, 25) !important;
    box-shadow: none !important;
    &:hover, &.focus-visible{
      border: 4px solid rgb(2, 50, 25) !important;
    }
  }
  .ql-editor{
    box-shadow: none !important;
  }
  .draft-answer .ql-editor{
    background: black !important;
  }

  section.problem.-withSeparateAnswer .second-column .ql-editor,
  section.problem.-withSeparateAnswer .answer .ql-editor{
      border: 2px solid rgb(5, 79, 19) !important;
  }

  section.total-amount-of-flashcards{
    color: black;
  }
}
