/node_modules

# we could rename this folder to /webpackedFiles at some point
/backend/webpacked/**
/frontend/webpackedFiles/*

/env.js
npm-debug.log
.DS_Store

lakesare.secrets.js
/meresei/frontend/node_modules
/meresei/frontend/dist
