/node_modules

/frontend/webpacked/*
/backend/webpacked/*
# favicons
!/frontend/webpacked/favicon-16x16.png
!/frontend/webpacked/favicon-32x32.png
!/frontend/webpacked/safari-pinned-tab.svg
!/frontend/webpacked/apple-touch-icon.png
!/frontend/webpacked/site.webmanifest

/env.js
/Makefile
npm-debug.log
.DS_Store
