@import 'css/variables';

:local(section.actions){
  > section.title-and-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px $sims-green-color solid;
    padding: 10px; padding-right: 0;

    margin-bottom: 20px;
    > .buttons{
      > a{
        display: inline-block;
        margin-left: 12px;
        vertical-align: middle;
        cursor: pointer;
        font-size: 12px;
        &.-edit{
          background: white;
          padding-left: 3px; padding-right: 1px;
          padding-top: 2px;
          border-radius: 2px;
        }
        &.add-to-learned{
          min-width: 130px;
          text-align: center;
          border: 1px solid #989494;
          padding: 2px 10px;
          i.fa-plus{
            font-size: 14px;
            padding-right: 4px;
            color: $sims-green-color;
          }
          .request{
            padding: 0;
            font-size: 7px;
          }
        }
      }
    }

    .learn-and-review-buttons{
      display: inline-block;
      vertical-align: middle;
      a{
        display: inline-block;
        margin-left: 10px;

        padding: 2px 10px;
        color: white;
        font-size: 12px;
        text-decoration: none;
        border: 1px solid black;
        &.-disabled{
          opacity: 0.1;
        }
        &.review{
          background: $review-button-color;
        }
        &.learn{
          background: $learn-button-color;
        }
      }
    }
  }
  > section.course-description{
    font-size: 13px;
    padding-left: 20px; padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #424141;
    a{
      color: $sims-green-color;
    }
  }
}

@media(max-width: 600px) {
  :local(section.actions){
    section.title-and-buttons{
      padding: 10px 0;
      text-align: center;
      justify-content: center;
      flex-wrap: wrap;
      > h3.course-title{
        width: 100%;
        margin-bottom: 10px;
      }
      > .buttons{
        > a.add-to-learned{
          margin-left: 0;
          margin-right: 10px;
          min-width: initial;
        }
        > .learn-and-review-buttons{
          .learn{ margin-left: 0; }
        }
        > a.action.-edit{ display: none; }
      }
    }
  }
}
