@import 'css/variables';

:local(section.actions){
  section.breadcrumbs{
    padding-top: 8px;
    background: rgb(7, 9, 39);
    font-size: 13px;
    > div.container{
      display: flex;
      justify-content: space-between;
      > ul.navigation{
        // border-bottom: 1px solid rgba(253, 249, 249, 0.06);
        padding-bottom: 7px;

        display: flex;
        align-items: center;
        li{
          display: inline-block;
          margin-right: 10px;
          color: white;
          cursor: default; // not text selection one
          font-size: 10px;
          text-transform: uppercase;
          font-family: $heading-font;
        }
        li.arrow{
          color: rgb(224, 224, 224);
        }
      }

      > div.rating{
        display: flex;
        align-items: center;
        > span{
          color: white;
          opacity: 0.6;
          font-size: 11px;
          padding-right: 10px;
          font-family: "Sintony";
          letter-spacing: 0.3px;
        }
        > ul.stars{
          li{
            padding: 10px 3px;
          }
          // li.-selected{
          //   color: rgb(255, 253, 91);
          // }
        }
      }
    }
  }
  section.title-and-buttons{
    padding-top: 10px;
    padding-bottom: 20px;
    > .container{
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3.title{
        font-weight: 300;
        font-size: 30px;
      }

      > .buttons{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        a{
          cursor: pointer;
          font-size: 12px;
          padding: 2px 10px;
        }

        > section.start-stop-or-resume-learning-course{
          min-width: 130px;
          button{
            margin-left: 10px;
            min-width: 90px;
            padding: 10px;
            font-size: 10px;
            padding: 10px 10px;
            i.fa-plus{
              font-size: 14px;
              padding-right: 4px;
            }
          }
          button.stop-learning-button{
            border: 1px solid rgba(37, 37, 37, 0.68);
            color: rgb(134, 132, 132);
          }
          button.start-learning-button, button.resume-learning-button{
            background: $purple;
            color: white;
          }

          div.loading.request{
            padding: 0;
            font-size: 7px;
          }
        }
        > .learn-and-review-buttons{
          display: flex;
          align-items: flex-start;
          a{
            margin-left: 10px;

            min-width: 90px;
            padding: 10px 10px;
            font-size: 10px;
            color: rgb(255, 255, 255);
            &.-disabled{ opacity: 0.1; }
            &.review{ background: $review-button-color; }
            &.learn{ background: $learn-button-color; }
          }
        }
      }

      > .please-sign-in_and_simulated-review-button{
        > h4.please-sign-in{
          display: inline-block;
          font-size: 14px
        }
        > a.simulated-review-button{
          display: inline-block;
          margin-left: 10px;
          padding: 2px 10px;
          color: white;
          font-size: 12px;
          border: 1px solid black;
          background: $review-button-color;
        }
      }

      > section.course-title-and-edit-form{
        display: flex;
        align-items: flex-start;
        color: white;
        > button.edit-button{
          i{ padding-left: 3px; }
          color: white;
          font-size: 10px;
          padding-left: 4px;
          font-family: $heading-font;
          font-weight: bold;
        }
      }
    }
  }
  section.course-description-and-stats{
    background: rgba(34, 38, 74, 0.27);
    padding: 10px 0;
    > .container{
      display: flex;
      align-items: flex-start;

      > ul.course-stats{
        width: 311px;
        flex-grow: 0;
        flex-shrink: 0;

        cursor: default;
        > li{
          padding: 2px 0;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          > div.icon{
            color: rgba(136, 125, 220, 0.9);
            font-size: 17px;
            width: 27px;
            text-shadow: 0 0 12px #fbfbfb52;
            text-align: center;
          }
          > div.stat{
            font-size: 10px;
            text-shadow: 0 0 6px #fff8fff0;
            padding-right: 10px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            span.number{
              padding-right: 3px;
              font-size: 15px;
              color: rgb(232, 0, 255);
              text-shadow: 0 0 8px rgb(232, 0, 255);
            }
          }
        }
        > li.course-star-rating{
          > div.stat{
            padding-right: 3px;
            > i.fa-user-o{
              font-size: 11px;
              padding-left: 3px;
            }
            > span.amount-of-voters{
              text-shadow: none;
              padding-left: 2px;
            }
          }
          > div.icon{
            width: auto;
            > ul.star-rating{
              display: flex;
              > li.-not-selected{
                text-shadow: none;
              }
            }
          }
        }
      }
      > .course-description{
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;

        padding: 20px;
        padding-left: 0;
        .ql-snow.ql-container{
          border: none !important;
          > .ql-editor{
            padding: 0;
            font-size: 14px;
            min-height: auto;
          }
        }
      }
    }
  }
}
