:local(.problem-wrapper){
  section.problem{
    display: flex;
    .first-column, .second-column{
      width: 50%;
      &.first-column{ margin-right: 10px; }
      &.second-column{ margin-left: 10px; }
    }

    &.-withSeparateAnswer{
      > .content.first-column{
      }
      > .second-column{
        > .see-answer{
          cursor: pointer;
          padding: 5px 10px;
          background: #adffb9;
        }
        > .answer{
          .DraftEditor-root{
            background: #adffb9;
            opacity: 0.99;
          }
        }
        > .draft-answer{
          margin-top: 20px;
          .DraftEditor-root{
            background: white;
            opacity: 0.99;
          }
        }
      }
    }
  }
}
