:local(section.problem){
  display: flex;
  margin-bottom: 20px;
  .content, .explanation{
    width: 50%;
    background: white;
    &.content{ margin-right: 10px; }
    &.explanation{ margin-left: 10px; }
  }
}
