:local(.problem-wrapper){
  section.problem{
    display: flex;
    margin-bottom: 20px;
    .first-column, .second-column{
      width: 50%;
      &.first-column{ margin-right: 10px; }
      &.second-column{ margin-left: 10px; }
    }

    &.-withSeparateAnswer{
      > .content.first-column{
      }
      > .answer.second-column{
        .DraftEditor-root{
          background: #adffb9;
          opacity: 0.99;
        }
      }
    }
  }
}
