:local(.tab){
  section.delete-course{
    > h2.title{
      font-size: 22px;
      text-align: center;
    }
    > article.instructions{
      margin-top: 26px;
      max-width: 500px;
      margin: 0 auto;
      text-align: center;

      // color: rgb(199, 196, 196);
      font-size: 13px;

      b{
        font-weight: 300;
        color: red;
      }

    }
    > button.delete-course-button{
      margin: 0 auto;
      margin-top: 30px;
    }
  }
}
