@import 'css/variables';

:local(footer.footer){
  position: absolute;
  right: 0; left: 0;
  bottom: 0;

  padding: 10px 0;
  background: rgb(20, 22, 45);
  color: white;

  > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 12px;
    letter-spacing: 2px;

    > section.blog-links{
      > a{
        display: inline-block;
      }
      > span.pipe{
        display: inline-block;
        padding: 0 15px;
        opacity: 0.3;
      }
    }
    > section.email{
      i{ padding-left: 10px; }
    }
  }
}

:local(footer.footer){
  @media(max-width: 730px){
    > .container{
      flex-wrap: wrap;
      > section.blog-links{
        width: 100%;
      }
      > section.email{
        margin-top: 15px;
      }
    }
  }
  @media(max-width: 530px){
    section.blog-links{
      a{ width: 100%; padding-top: 10px; }
      span.pipe{ display: none !important; }
    }
  }
}
