@use './css/calendar.scss';
@use './css/settings.scss';
@use './css/logo.scss';
@use './components/Header/index.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: "Roboto";
  color: rgb(85, 85, 85);
  margin: 0;
  padding: 20px;
  * { box-sizing: border-box; }
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.standard-article{
  line-height: 30px;
  color: rgb(31, 41, 55);
  a{
    color: inherit;
    text-underline-offset: 3px;
  }

  h2 {
    padding-bottom: 10px;
    margin-top: 40px;
  }
}