@import 'css/variables';

:local(main.main){
  header > .container.-mobile{
    section.search{ display: none; }
    nav{ display: none; }
  }

  // so that 'next' button has some space in bottom
  padding-bottom: 20px;
  box-sizing: border-box;
  .course-title-and-edit-form h3.title{
    a{ color: white; }
  }
  section.problem{
    margin-bottom: 20px; margin-top: 100px;
    box-shadow: 0px 0px 9px rgba(214, 214, 214, 0.16);
    padding: 7px 5px;

    $answer-background: rgba(45, 245, 83, 0.9);
    &.-withInlinedAnswers{
      
      input.answer{
        width: 120px;
        display: inline-block;
        // padding: 0 10px;
        font-size: 16px;
        text-align: center;
        &:focus{ outline: none; }
        &[data-answered='right']{
          border: 3px solid rgba(45, 245, 83, 0.9);
          background: rgba(0, 255, 29, 0.46);
          text-shadow: 0px 0px 14px white;
        }
        &[data-answered='wrong']{
          border: 3px solid #f9637d;
        }
        &[data-answered='waiting']{
          border: 3px solid #FFEB3B;
        }
      }
    }
    &.-withSeparateAnswer{
      flex-wrap: wrap;
      justify-content: flex-end;

      > div.question-and-answer{
        width: 100%;
        display: flex;
        // button or answer editor
        > button.see-answer-button{
          max-height: 400px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
          user-select: none;
          display: flex;
          justify-content: center;
          align-items: center;

          cursor: pointer;
          font-family: 'Mukta Vaani';
          background: rgb(106, 243, 132);
          box-shadow: 0px -1px 6px 1px rgba(74, 241, 42, 0.39);
          border: 2px solid $whale-green;
          padding: 6px 0;
          font-size: 16px;
          color: #232425;
          text-shadow: 0px 0px 9px white;
        }
      }

      > div.draft-answer{
        display: flex;
        width: 100%;
        .quill{
          margin-top: 5px;
        }
        .ql-toolbar{ box-shadow: none; }
        .ql-editor{ border: none !important; }
        &.-focused{ .ql-toolbar{ opacity: 1; } }
        &.-not-focused{ .ql-toolbar{ opacity: 0; } }
      }
    }
  }

  .button.next{
    color: white;
    background: rgba(0, 255, 29, 0.48);;
    max-width: 100px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 2px;
    opacity: 0.9;
    &:hover{
      background: rgba(0, 255, 29, 0.77);
    }
  }

  .button.reveal{
    color: rgba(255, 235, 59, 0.71);
    background: rgba(245, 238, 238, 0.07);
    font-size: 11px;

    max-width: 150px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 2px;
    &:hover{
      color: rgb(255, 235, 59);
    }
  }

  article.what-next{
    > section.congratulations{
      color: white;
      text-align: center;
      .next-review-time{
        color: rgba(239, 234, 233, 0.5);
        font-size: 14px;
        margin-top: 8px;
      }
      h3.whats-next{
        width: 150px;
        margin: 35px auto;
        padding-bottom: 20px;
        // border-bottom: 2px solid rgb(255, 192, 203);
      }
    }
    > section.offered-courses{
      max-width: 821px;
      margin: 0 auto;
      margin-top: 44px;
      // made border look a little better on dark bg
      .course{
        box-shadow: -1px 1px 7px #f7f5f5;
      }
      .layout-div{ display: none; }
    }
  }

  section.instructions{
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.65);
    h4.where-we-are{
      font-size: 14px;
      &.-mobile{ display: none; }
      &.-desktop{ display: block; }
    }
    &.-real{
      > .buttons{
        display: flex;
        align-items: center;
        button{
          color: rgba(249, 249, 249, 0.67);
          font-weight: bold;
          text-transform: uppercase;
          font-size: 10px;
          cursor: pointer;
          padding: 3px 8px;
        }
        button.switch-answer-and-definition-button{
          background: rgba(224, 17, 17, 0.24);
        }
        button.randomize{
          margin-left: 10px;
          background: rgba(224, 17, 185, 0.24);
        }
      }
    }
  }

  section.self-score{
    width: 684px;
    margin: 0 auto;
    margin-top: 30px;
    > label.rate-yourself, > .stars{
      display: inline-block;
      vertical-align: middle;
    }

    > label.rate-yourself{
      color: white;
      font-size: 13px;
      padding-bottom: 50px;
      padding-top: 20px;
      padding-right: 20px;
    }
    > .stars{
      > .star{
        display: inline-block;
        cursor: pointer;
        padding-bottom: 45px;
        padding-top: 20px;
        > div{
          padding-right: 3px; padding-left: 3px;
          width: 90px; height: 10px;
          border-right: 1px solid #737272;
          &.grey{
            background: rgba(109, 107, 107, 0.63);
          }
          &.yellow{
            background: rgb(78, 251, 95);
          }
        }
      }
    }
  }
}

@media(max-width: 900px) {
  :local(main.main){
    section.instructions{
      margin-bottom: 20px;
      h4.where-we-are{
        &.-mobile{ display: block; }
        &.-desktop{ display: none; }
      }
      // move randomize button to the left
      &.-real{ justify-content: flex-end; }
    }
    section.problem{
      margin-top: 0px;
      .first-column, .second-column{
        width: 100%;
      }
      .first-column{
        margin-right: 0 !important;
      }
      .second-column{
        margin-top: 20px;
        margin-left: 0px !important;
      }
      &.-withInlinedAnswers{
        flex-wrap: wrap;
      }
      &.-withSeparateAnswer{
        flex-wrap: wrap;
        > div.question-and-answer{
          flex-wrap: wrap;
        }
        div.draft-answer{ display: none !important; }
      }
    }
    section.self-score{
      width: auto;
      > label.rate-yourself{
        display: block;
        padding-bottom: 0;
      }
      > .stars{
        display: block;
        > .star{
          width: 20%;
          > div{ width: auto; }
        }
      }
    }
    a.button.next{
      margin-top: 20px;
    }
  }
}
