:local(.main){
  @media(max-width: 900px){
    > header section.search{
      display: none;
    }

    > section.course-actions{
      > section.title-and-buttons{
        padding-top: 10px;
        padding-bottom: 10px;
        .container{
          justify-content: flex-end;
          .learn-and-review-buttons{
            a.button.learn{ margin-left: 0 !important; }
          }
          h1.title{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }

    > section.ProblemBeingSolved{
      padding-bottom: 80px;
      > section.Header{
        > .container{
          padding-top: 10px;
          padding-bottom: 10px;
        }
        .-mobile{ display: block; }
        .-desktop{ display: none; }
        position: absolute;
        bottom: 0;
        width: 100%;
      }

      > section.problem{
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 30px;
        padding: 0;
        box-shadow: none;
        .ql-editor{
          padding: 6px 10px;
        }
        .first-column, .second-column{
          width: 100%;
        }
        .first-column{
          margin-right: 0 !important;
        }
        .second-column{
          margin-top: 20px;
          margin-left: 0px !important;
        }
        &.-withInlinedAnswers{
          flex-wrap: wrap;
        }
        &.-withSeparateAnswer{
          flex-wrap: wrap;
          > div.question-and-answer{
            flex-wrap: wrap;
          }
          button.see-answer-button{
            min-height: 58px;
          }
          div.draft-answer{ display: none !important; }
        }
      }

      > section.self-score{
        margin-top: 25px;
        li{
          padding-bottom: 20px;
        }
      }

      > button.next-button, > button.reveal{
        margin-top: 30px;
      }

    }



  }
}



