@import 'css/variables';

.article-formatting{
  font-family: 'Open Sans';
  padding-bottom: 50px;
  line-height: 24px;
  font-size: 15px;
  color: rgb(219, 222, 249);
  font-weight: 100;
  a{ color: $purple; }
  .container{

  }
  ol, ul{
    list-style-type: initial;
    margin-left: 20px;
    li{ margin-bottom: 20px; }
  }

  // subclasses
  .container.-left-border{
  }
  section.article-headings{
    margin-bottom: 20px;
    h3{
      margin-top: 20px;
      font-weight: 100;
    }
  }
  section.article-section{
    max-width: 1000px;
    padding-top: 20px; padding-bottom: 20px;
  }
  h2.section-heading{
    font-weight: 100;
    margin-bottom: 50px;
    margin-top: 70px;
  }
}
