@import 'css/variables';

.article-formatting{
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 15px;
  a{ color: $purple; }
  ol, ul{
    list-style-type: initial;
    margin-left: 20px;
    li{ margin-bottom: 20px; }
  }

  // subclasses
  .container.-left-border{
  }
  section.article-headings{
    margin-bottom: 20px;
    h3{
      margin-top: 30px;
      font-weight: 100;
    }
  }
  section.article-section{
    border-top: 1px solid #cecccc;
    padding-top: 20px; padding-bottom: 20px;
  }
  h2.section-heading{
    font-weight: 100;
    margin-bottom: 20px;
    i{
      padding-right: 10px;
      color: $purple;
    }
  }
}
