@import 'css/variables';

.article-formatting{
  padding-bottom: 20px;
  line-height: 39px;
  font-size: 18px;
  color: rgb(219, 222, 249);
  a{ color: $purple; }
  .container{

  }
  ol, ul{
    list-style-type: initial;
    margin-left: 20px;
    li{ margin-bottom: 20px; }
  }

  // subclasses
  .container.-left-border{
  }
  section.article-headings{
    margin-bottom: 20px;
    h3{
      margin-top: 7px;
      font-weight: 100;
    }
  }
  section.article-section{
    max-width: 1000px;
    padding-top: 20px; padding-bottom: 20px;
  }
  h2.section-heading{
    font-weight: 100;
    margin-bottom: 20px;
    i{
      padding-right: 10px;
      color: $purple;
    }
  }
}
