nav.article-navigation{
  background: #333333;
  border-top: 1px black solid;
  border-bottom: 2px black solid;
  width: 100%;
  font-family: $heading-font;
  font-size: 11px;
  z-index: 100;
  &.fixed{
    position: fixed;
    top: 0px;
  }
  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    a{
      color: white;
      padding: 5px 0;
      &:hover{
        color: $sims-green-color;
      }
    }
  }
}
