@use '~/css/variables.scss';

$yellowish: rgb(247, 248, 228);

// Throwing a couple more themes here temporarily

body.-hideSocialButtons{
  .social-buttons{
    display: none;
  }
}

body{
  background: rgb(15, 17, 34);
}
body.-bright-theme{
  background: rgb(242, 236, 233);
}

// Exclude articles pages from bright theme
body.-bright-theme .-articles-page{
  background: rgb(15, 17, 34) !important;
}

// Modal styles for bright theme
.-bright-theme .sign-in-modal .standard-modal{
  background: rgb(222, 204, 197);
  .standard-modal__header{
    background: rgb(222, 204, 197);
    color: rgb(65, 52, 44);
    text-align: center;
  }
  .standard-modal__main{
    background: rgb(242, 236, 233);
  }
}

// Not using the body tag for the /courses/1490/review/print page (we have to manually assign .-bright-theme, and assigning it to the body is not that easy from inside the page)
// Exclude articles pages from bright theme styles
.-bright-theme .-without-bg:not(.-articles-page){

  .standard-navigation_and_courses .search-bar{
    background-color: rgb(234, 225, 220);
    border-radius: 7px !important;
  }

  .nav-and-current-user.-not-signed-in{
    align-items: center;
    .sign-in{
      padding: 0px 13px !important;
      height: 31px;
      background: rgb(234, 225, 220);
    }
    a:hover, button:hover, a:focus, button:focus{
      opacity: 1;
      background: rgb(234, 225, 220) !important;
    }
    a, button{
      font-weight: 600 !important;
    }
  }

  .pagination{
    .epsilon{ color: rgb(65, 52, 44); }
    .page-n{
      border-radius: 8px;
      color: rgb(65, 52, 44);
      background: rgb(234, 225, 220);
      &.-current, &:hover{
        background: rgba(214, 186, 175, 0.725) !important;
      }
      a:hover, a:focus{
        background: none;
      }
    }
  }
  ul.categories > li a.cross{
    top: 10px !important;
  }

  div.title_and_sorting{
    .sort-by-dropdown-wrapper{
      background-color: rgb(234, 225, 220);
      border-radius: 7px !important;
      color: rgb(65, 52, 44);
      i{ color: rgb(65, 52, 44); }
    }
    .standard-tooltip{
      background-color: rgb(234, 225, 220) !important;
      color: rgb(65, 52, 44);
      border-radius: 7px;
    }
  }

  header{
    .my-courses-dropdown{
      background-color: rgb(234, 225, 220) !important;
      border-radius: 10px !important;
      .standard-input.-TextInput{
        background: transparent !important;
        color: rgb(65, 52, 44) !important;
      }
      .sync-button{
        background: #d6baaf6b !important;
        color: #684f4fa1;
        &:hover{
          background: #d6baafb9 !important;
        }
      }
      a.title{
        background: rgba(157, 101, 101, 0.07);
      }
      a.title .title{
        background: none !important;
        color: rgb(65, 52, 44) !important;
      }
      .course-li.-next-due-date-in .action{
        background: #d6baaf6b !important;
        color: #684f4fa1;
      }
      .course-li.-next-due-date-in a:hover{
        background: #d6baaf6b !important;
      }
      a:hover{
        opacity: 1;
      }
      .course-li{
        margin-bottom: 1px !important;
      }
      
      .course-li:last-child{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        a.title{
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
        .action{ border-bottom-right-radius: 10px; }
      }
      .course-li.-review a:hover { background: rgba(212, 85, 18, 0.33); }
      .course-li.-learn a:hover { background: rgba(33, 165, 130, 0.42); }
    }

    .current-user .tippy-box{
      background-color: rgb(234, 225, 220) !important;
      border-radius: 10px !important;
      color: rgb(65, 52, 44);
    }
    .notifications-dropdown{
      .header{
        border-bottom: 1px solid rgba(216, 179, 153, 0.15) !important;
      }
      .-already-read .circle{
        background: rgba(157, 101, 101, 0.209);
      }
      li.-not-yet-read{
        background: rgba(255, 160, 227, 0.33) !important;
      }
      div.created-at{
        color: #684f4fa1;
      }
    }
    .notifications-toggler[aria-expanded="true"]{
      // background: rgba(255, 255, 255, 0.29) !important;
      // border-radius: 10px;
      background: none !important;
    }

  }




  color: rgb(65, 52, 44);
  font-family: 'Open Sans' !important;
  font-weight: 500 !important;
  h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans' !important;
    font-weight: 500 !important;
  }
  .button, input, textarea, select, button, label{
    font-family: 'Open Sans' !important;
    font-weight: 500 !important;
  }
  header a.logo{
    font-weight: 600 !important;
  }

  .notifications-toggler i, .next-review-time, section.whats-next > h2{
    color: rgb(65, 52, 44) !important;
  }

  section.title-and-buttons section.category_and_author, .standard-course-card .category{
    border-left: 1px solid rgba(173, 173, 173, 0.55) !important;
  }

  section.how-to-create label, section.choose-type label, section.how-to-create .shortcut,
  .course-description  .placeholder,
  .wrapper .user .created-at{
    color: rgba(173, 173, 173, 0.9) !important;
  }


  section.problems div.problem-wrapper > div.index{
    color: white !important;
    font-weight: 700;
  }

  // header .my-courses-dropdown{
  //   background: rgb(234, 233, 233);
  //   .course-li a.title{
  //     background: white;
  //     color: black;
  //   }
  //   .search-courses input{
  //     background: white;
  //     color: black;
  //     &:hover{
  //       background: red;
  //     }
  //   }
  // }

  section.congratulations h2{
    color: rgb(37, 176, 139);
  }

  
  .course-categories-nav{
    h2.group-name{
      font-weight: bold !important;
      background-image: none !important;
    }
    .amount-of-courses{
      // color: inherit;
      color: #9f9e9e !important;
    }
    li a.name:hover{
      opacity: 0.6;
    }
  }

  .standard-course-card, .link.create, .course-title_and_category_and_author h1.title{
    &:hover{ opacity: 0.7; }
  }

  section.problem .ql-toolbar{
    background: none;
    button{
      .ql-stroke{
        stroke: rgb(65, 52, 44) !important;
      }
      .ql-fill{
        fill: rgb(65, 52, 44) !important;
      }
    }
    button.ql-answer{
      border: 1px solid rgb(37, 176, 139) !important;
      color: rgb(37, 176, 139) !important;
    }
  }

  .flashcard-buttons button{
    color: white;
  }

  .standard-course-card{
    background: white;
    &.-focusable-link:hover{
      opacity: 0.7;
      background: white;
    }
    .go{
      color: rgb(65, 52, 44);
    }
  }

  .pagination{
    color: white;
  }

  .wrapper{
    .user, .skills, .stats{
      background: #e0e0e326;
      box-shadow: 0 1px 0 0 #cacbce63, 0 0 0 1px #ededf073;
    }
    .skill .progress-bar{
      background: white !important;
    }
  }

  .Subheader .buttons{
    color: #a6a3a3c9;
  }
  .randomize-button, .randomize-button:hover{
    color: #a6a3a3c9;
    border: 1px solid #a6a3a399;
    opacity: 1;
  }
  .bg-button-dropdown{
    button{
      background: rgba(96, 94, 94, 0.69);
      &.-active{
        background: rgba(96, 94, 94, 0.9) !important;        
      }
    }
  }
  .toggle-button-label-left{
    &:after{ border-color: #a6a3a399; }
    &:before{ background: #a6a3a399; }
  }

  section.amount-footer{
    &.-review, &.-learn{ color: white !important; }
    &.-next-due{ color: rgb(65, 52, 44) !important; }
  }

  div.learn-and-review-buttons a.link{
    color: white;
  }

  button.reveal{
    background: #25b08b;
  }

  nav > section.instructions em {
    font-weight: 600;
  }

  .problem-wrapper-wrapper{
    .three-dots-menu{
      border-radius: 50%;
      background: rgba(214, 186, 175, 0.4196078431) !important;
      color: rgba(104, 79, 79, 0.631372549);
      top: 7px; right: 7px;
      width: 21px; height: 21px;
      &:hover, &[aria-expanded=true]{
        background: rgba(214, 186, 175, 0.7254901961) !important;
        color: rgba(104, 79, 79, 0.8);
      }
      @media(max-width: 600px){
        top: 3px; right: 2px;
        width: 23px; height: 23px;
      }
    }
    .problem-wrapper{
      background: rgb(234, 225, 220) !important;
      border-radius: 22px !important;
      @media(max-width: 600px){
        border-radius: 12px !important;
      }
    }
  
    .problem-wrapper.-yet-to-learn:hover{
      background: #25b08b70 !important;
    }
    .problem-wrapper.-learned{
      background: variables.$learn-button-color !important;
      &:hover{
        opacity: 1 !important;
      }
    }
  }


  ul.tab-links{
    li.-active{
      background: rgba(30, 28, 28, 0.04);
    }
    li.-not-active:hover{
      background: rgba(30, 28, 28, 0.01);
    }
  }
}

.-bright-theme .-without-bg:not(.-articles-page){
  // _________BORDER RADIUS_________
  .button{
    border-radius: 10px !important;
  }
  .standard-course-card{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .ql-editor, .see-answer-button, .audio-button{
    border-radius: 10px !important;
  }
  .button.total-n-to-review-button{
    border-radius: 50% !important;
    &.-zero.-not-loading{ background: #df9b6a4a !important; &:hover{ background: #df9b6a4a; } }
  }
  input.answer-input{
    border-radius: 6px !important;
  }
  section.current-user .avatar img{ border-radius: 50% !important; }
  section.choose-type button.button.-separateAnswer{ border-bottom-left-radius: 0px !important; border-bottom-right-radius: 0px !important; }
  section.choose-type button.button.-inlinedAnswers{ border-top-left-radius: 0px !important; border-top-right-radius: 0px !important; }

  section.checkbox, div.index{ border-radius: 7px !important; }
  .old-problem-wrapper.-checked{ border-radius: 10px !important; }
  // _________________________________

  .course-actions h1.title a{
    padding-left: 0;
  }

  a:hover{
    opacity: 0.8;
  }

  header nav .link{
    font-weight: 600 !important;
  }

  .ProblemBeingSolved{
    div.instructions{
      em.review-emphasis{ color: rgb(37, 176, 139); font-weight: 600; }
      em.red-emphasis{ text-shadow: none !important; font-weight: 600; }
    }
    section.problem{
      // background: $yellowish;
      .ql-editor{
        border: 5px solid rgb(37, 176, 139) !important;
      }

      @media(max-width: 900px){
        background: transparent;
      }
    }

    div.inner{ height: 14px !important; }

    button.audio-button{
      color: rgba(166, 163, 163, 0.79);
      &:hover, &:focus {
        color: rgba(166, 163, 163, 1);
        background: rgba(100, 100, 100, 0.1);
      }
    }

    section.problem.-withInlinedAnswers input.answer-input[data-answered='right'] {
      box-shadow: none;
      border: 2px solid rgb(153, 233, 212);
      background: rgb(175, 246, 227) !important;
      color: rgb(65, 52, 44) !important;
    }
    .n-of-problems-left .inner{
      box-shadow: none;
      background-color: #25b08b;
    }
    .n-of-problems-left > .container > section{
      background: rgba(112, 111, 109, 0.07) !important;
    }
    ul.stars > li > div.star{
      box-shadow: none !important;
      border-right: 1px solid rgba(255, 255, 255, 0.83);
    }
  }
  section.problem.-withSeparateAnswer .second-column .ql-editor {
    border: 2px solid rgba(37, 176, 139, 0.56);
  }
  section.problem .quill > .ql-container > .ql-editor{
    background: #ffffffe8 !important;
  }
  section.problem, .course-description-and-stats{
    font-weight: 400;

    .quill > .ql-container > .ql-editor{
      box-shadow: none !important;
      font-size: 16.5px;
      mark.answer{
        border-width: 3px;
      }
      border-width: 3px !important;
      color: rgb(49, 51, 54);
      // color: rgb(206, 199, 245);
      // We need !important-s because we have to override styles copypasted by users
      span, em, strong, b, a, sup, sub, mark, p, ul, ol{
        color: rgb(49, 51, 54) !important;
        background: transparent !important;
      }
      strong{
        // color: rgb(33 165 130) !important;
        font-weight: 600 !important;
      }
      em{
        color: rgb(124, 134, 147) !important;
        font-weight: inherit;
      }
      a{
        color: rgb(124, 134, 147) !important;
      }

      pre.ql-syntax, code, code *{
        background: rgb(243, 243, 243) !important;
        color: rgb(67, 67, 69) !important;
      }

      blockquote{
        color: rgb(49, 51, 54) !important;
        background: rgba(135, 135, 135, 0.04) !important;
        border-left: 3px solid rgba(142, 141, 141, 0.18);
      }
    }
    button.see-answer-button{
      box-shadow: none !important;
      border: 3px solid rgb(37, 176, 139) !important;
      background: rgb(161, 221, 205) !important;
      color: rgb(50, 50, 50) !important;
      font-weight: 400 !important;
      &:hover, &:focus{
        background: rgb(144, 221, 200) !important;
      }
    }
    &.-withInlinedAnswers{
      input.answer-input[data-answered='waiting']{
        color: rgb(49, 51, 54) !important;
        border: 2px solid #71e3c5 !important;
        &:hover, &:focus{
          background: none !important;
        }
      }
    }
    // placeholder!
    > .ql-container > .ql-editor.ql-blank::before{
      color: rgb(49, 51, 54);
    }
  }
}
