@import 'css/variables';

$yellowish: rgb(247, 248, 228);

body.-bright-theme{
  // background: rgb(179, 207, 243);
  // header .notifications-toggler i{
  //   color: white !important;
  // }
  .ProblemBeingSolved{
    section.problem{
      // background: $yellowish;

      @media(max-width: 900px){
        background: transparent;
      }
    }
  }
  section.problem{
    font-weight: 400;

    .ql-toolbar{
      background: none;
    }

    .quill > .ql-container > .ql-editor{
      background: white !important;
      box-shadow: none !important;
      mark.answer{
        border-width: 3px;
      }
      border-width: 3px !important;
      // color: rgb(206, 199, 245);
      // We need !important-s because we have to override styles copypasted by users
      span, em, strong, b, a, sup, sub, blockquote, mark, p, ul, ol{
        color: rgb(49, 51, 54) !important;
        background: transparent !important;
      }
      strong{
        // color: rgb(33 165 130) !important;
        font-weight: 600 !important;
      }
      em{
        color: $purple !important;
        font-weight: inherit;
      }
      a{
        color: $purple !important;
      }

      pre.ql-syntax, code, code *{
        background: rgba(223, 221, 221, 0.37) !important;
        color: rgb(67, 67, 69) !important;
      }

      blockquote, blockquote span{
        color: rgb(49, 51, 54) !important;
        background: rgb(248, 248, 248) !important;
      }
      blockquote{
        border-left: 2px solid rgb(235, 235, 235);
      }
    }
    button.see-answer-button{
      box-shadow: none !important;
      border: none !important;
      background: rgb(133, 236, 180) !important;
      color: white !important;
      font-weight: 400 !important;
      &:hover, &:focus{
        background: rgb(110, 211, 156) !important;
      }
    }
    &.-withInlinedAnswers{
      input.answer-input[data-answered='waiting']{
        color: rgb(49, 51, 54) !important;
        border: 2px solid rgb(170, 160, 247);
        &:hover, &:focus{
          background: none !important;
        }
      }
    }
    // placeholder!
    > .ql-container > .ql-editor.ql-blank::before{
      color: rgb(49, 51, 54);
    }
  }
}
