@import 'css/variables';

$yellowish: rgb(247, 248, 228);

// Throwing a couple more themes here temporarily
body.-hideSearchBox{
  header section.search{
    display: none !important;
  }

}

body.-hideLinks{
  header .learn-review-links{
    display: none !important;
  }
}

body.-hideFooter{
  footer{
    display: none;
  }
}

body.-hideSocialButtons{
  .social-buttons{
    display: none;
  }
}

// Not using the body tag for the /courses/1490/review/print page (we have to manually assign .-bright-theme, and assigning it to the body is not that easy from inside the page)
.-bright-theme{
  // background: rgb(179, 207, 243);
  // header .notifications-toggler i{
  //   color: white !important;
  // }
  .ProblemBeingSolved{
    section.problem{
      // background: $yellowish;
      .ql-editor{
        border: 5px solid rgb(37, 176, 139) !important;
      }

      @media(max-width: 900px){
        background: transparent;
      }
    }

    section.problem.-withInlinedAnswers input.answer-input[data-answered='right'] {
      box-shadow: none;
      border: 2px solid rgb(153, 233, 212);
      background: rgb(175, 246, 227) !important;
      color: rgb(44, 65, 59) !important;
    }
  }
  section.problem{
    font-weight: 400;

    .ql-toolbar{
      background: none;
    }

    .quill > .ql-container > .ql-editor{
      background: white !important;
      box-shadow: none !important;
      mark.answer{
        border-width: 3px;
      }
      border-width: 3px !important;
      // color: rgb(206, 199, 245);
      // We need !important-s because we have to override styles copypasted by users
      span, em, strong, b, a, sup, sub, blockquote, mark, p, ul, ol{
        color: rgb(49, 51, 54) !important;
        background: transparent !important;
      }
      strong{
        // color: rgb(33 165 130) !important;
        font-weight: 600 !important;
      }
      em{
        color: rgb(124, 134, 147) !important;
        font-weight: inherit;
      }
      a{
        color: rgb(124, 134, 147) !important;
      }

      pre.ql-syntax, code, code *{
        background: rgb(243, 243, 243) !important;
        color: rgb(67, 67, 69) !important;
      }

      blockquote, blockquote span{
        color: rgb(49, 51, 54) !important;
        background: rgb(248, 248, 248) !important;
      }
      blockquote{
        border-left: 2px solid rgb(235, 235, 235);
      }
    }
    button.see-answer-button{
      box-shadow: none !important;
      border: 3px solid rgb(37, 176, 139) !important;
      background: rgb(161, 221, 205) !important;
      color: rgb(50, 50, 50) !important;
      font-weight: 400 !important;
      &:hover, &:focus{
        background: rgb(144, 221, 200) !important;
      }
    }
    &.-withInlinedAnswers{
      input.answer-input[data-answered='waiting']{
        color: rgb(49, 51, 54) !important;
        border: 2px solid #71e3c5 !important;
        &:hover, &:focus{
          background: none !important;
        }
      }
    }
    // placeholder!
    > .ql-container > .ql-editor.ql-blank::before{
      color: rgb(49, 51, 54);
    }
  }
}
