.button{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;

  padding: 10px 20px;
  cursor: pointer;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  &.-white{
    background: white;
    border: 1px solid $body-color;
  }
  &.-black{
    color: white;
    background: #333030;
  }
  &.-blue{
    color: white;
    background: #1C263C;
  }
  &.-purple{
    color: white;
    background: $purple;
  }
  &.-pink{
    color: white;
    background: $whale-pink;
  }
  &.-red{
    color: white;
    background: red;
  }

  &.-small{
    font-size: 9px;
    padding: 5px 10px;
  }

  &.-fade-out-on-hover{
    transition: all 60ms ease-in-out;
    opacity: 1;
    &:hover{ opacity: 0.85; }
  }
  &.-fade-in-on-hover{
    transition: opacity 60ms ease-in-out;
    opacity: 0.85;
    &:hover{ opacity: 1; }
  }

  &.-disabled{
    opacity: 0.2;
    cursor: default;
  }
}
