@import 'css/variables';

.action{
  i{ font-size: 17px; }
  &.-view i{ color: #e23131; }
  &.-edit i{ color: #2410af; }
  &.-remove i{ color: #f93333; }
}

.button{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;

  display: flex;
  padding: 9px 12px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  border: 0 none;
  line-height: 1.3;

  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  &.-black{
    color: white;
    background: #333030;
  }

  &.-fade-out-on-hover{
    transition: all 60ms ease-in-out;
    opacity: 1;
    &:hover{
      opacity: 0.85;
    }
  }

  &.-fade-in-on-hover{
    transition: opacity 60s ease-in-out;
    opacity: 0.85;
    &:hover{
      opacity: 1;
    }
  }
}

div.space{
  margin-top: 35px;
}
