

*{
  outline: none;
}

input.standard-input:not(.answer-input):not(.toggler),
textarea,
button.toggler,
.standard-dropdown a, .standard-dropdown button,
.standard-input.-Select ul.groups button,
ul.pagination a{
  &.focus-visible{
    outline: none;
    box-shadow: inset 0 0 1px 1px $purple;
  }
}

.button.-purple, .button.purple{
  &.focus-visible{
    box-shadow: inset 0 0 0 2px rgb(182, 173, 244);
  }
}
.button.-orange{
  &.focus-visible{
    box-shadow: inset 0 0 0 2px #f8833d;
  }
}

.button.-purple-o, button.volume-button{
  &.focus-visible, &:hover{
    background: rgba(32, 35, 73, 0.55);
  }
}
button.volume-button{
  border-radius: 3px;
}

.toggle-button.-left.focus-visible, .toggle-button.-left:hover{
  .toggle-button-label-left:after{
    background: rgba(32, 35, 73, 0.55) !important;
  }
}

.button.-to-learn, .button.-to-review,
header a.avatar{
  &.focus-visible{
    border: 2px solid $purple;
  }
}

header{
  section.search input{
    &.focus-visible, &:hover{
      // background: rgb(32, 35, 73) !important;
    }
  }

  .notifications-toggler-and-dropdown{
    button.toggler.focus-visible, button.toggler:hover{
      box-shadow: none;
      i { color: $purple; }
    }
  }

  a.logo.focus-visible{
    background: rgba(32, 35, 73, 0.55);
  }
}

@media(min-width: 460px){
  .standard-course-card{
    &:focus-within{
      outline: none;
      box-shadow: 0 0 1px 1px $purple;
    }
  }
}

.see-answer-button:hover, .see-answer-button.focus-visible{
  border: 4px solid rgb(160, 247, 200) !important;
}


input.answer-input.focus-visible{
  background: rgba(136, 125, 220, 0.16) !important;
  box-shadow: none;
}

section.course-actions{
  .category_and_author a{
    &.focus-visible, &:hover{
      text-decoration: underline;
    }
  }
  button.edit-button, button.invite-coauthor-button, .stop-learning-button{
    &.focus-visible, &:hover{
      background: rgba(32, 35, 73, 0.55);
    }
  }
  h1.title a{
    &.focus-visible{
      background: rgba(32, 35, 73, 0.55);
    }
  }
}

.standard-tab-navigation button, .ReactModal__Content .close-button{
  &.focus-visible{
    background: rgba(48, 52, 96, 0.62);
  }
}
