

*{
  outline: none;
}

input.standard-input:not(.answer-input), textarea,
button.toggler,
.standard-dropdown a, .standard-dropdown button,
.standard-input.-Select ul.groups button,
ul.pagination a{
  &:focus, &:hover{
    outline: none;
    box-shadow: inset 0 0 1px 1px $purple;
  }
}

.button.-purple, .button.purple{
  &:focus{
    box-shadow: inset 0 0 0 2px rgb(182, 173, 244);
  }
}
.button.-orange{
  &:focus{
    box-shadow: inset 0 0 0 2px #f8833d;
  }
}

.button.-purple-o, button.volume-button{
  &:focus{
    background: rgba(32, 35, 73, 0.55);
  }
}

.button.-to-learn, .button.-to-review,
header a.avatar{
  &:focus{
    border: 2px solid $purple;
  }
}

header{
  section.search input{
    &:focus, &:hover{
      background: rgb(32, 35, 73) !important;
    }
  }

  .notifications-toggler-and-dropdown{
    button.toggler:focus, button.toggler:hover{
      box-shadow: none;
      i { color: $purple; }
    }
  }

  a.logo:focus{
    background: rgba(32, 35, 73, 0.55);
  }
}

.standard-course-card{
  &:focus-within{
    outline: none;
    box-shadow: 0 0 1px 1px $purple;
  }
}

.see-answer-button:hover, .see-answer-button:focus{
  border: 4px solid rgb(160, 247, 200) !important;
}


input.answer-input:focus{
  background: rgba(136, 125, 220, 0.16) !important;
  box-shadow: none;
}

section.course-actions{
  h1.title a, .category_and_author a, button.edit-button, .stop-learning-button{
    &:focus, &:hover{
      background: rgba(32, 35, 73, 0.55);
    }
  }
}

.standard-tab-navigation button:focus{
  background: rgba(48, 52, 96, 0.62);
}
