

*{
  outline: none;
}

input.standard-input:not(.answer-input), textarea,
button.toggler,
.standard-dropdown a, .standard-dropdown button,
.standard-input.-Select ul.groups button,
ul.pagination a{
  &:focus, &:hover{
    outline: none;
    box-shadow: inset 0 0 1px 1px $purple;
  }
}

.button.-purple, .button.purple{
  &:focus{
    border: 2px solid rgb(182, 173, 244);
  }
}

.button.-to-learn, .button.-to-review,
header a.avatar{
  &:focus{
    border: 2px solid $purple;
  }
}

header{
  section.search input{
    &:focus, &:hover{
      background: rgb(32, 35, 73) !important;
    }
  }

  .notifications-toggler-and-dropdown{
    button.toggler:focus, button.toggler:hover{
      box-shadow: none;
      i { color: $purple; }
    }
  }
}

.standard-course-card{
  &:focus-within{
    outline: none;
    box-shadow: 0 0 1px 1px $purple;
  }
}

.see-answer-button:hover, .see-answer-button:focus{
  border: 4px solid rgb(160, 247, 200) !important;
}


input.answer-input:focus{
  background: rgba(136, 125, 220, 0.16) !important;
  box-shadow: none;
}

// .button:focus{
//   &.-purple, &.-purple-o, &.-to-learn, &.-to-review{
//     box-shadow: inset 0 0 1px 1px white;
//   }
// }

// .see-answer-button:focus, .see-answer-button:hover{
//   // background: rgb(68, 245, 149) !important;
//   // color: rgb(10, 80, 42) !important;

//   // background: rgb(83, 210, 144) !important;
//   // background: radial-gradient(circle, rgb(85, 204, 146) 10%, rgb(83, 210, 144) 40%, rgb(114, 249, 176) 100%) !important;
//   // color: white !important;
//   outline: none;
//   transition-duration: 500ms;
// }

// a.avatar:focus{
//   box-shadow: 0 0 1px 2px $purple;
// }

section.course-actions h1.title a{
  &:focus{
    background: rgb(29, 32, 53);
    outline: none;
    box-shadow: none;
  }
}
