

*{
  outline: none;
}

input:not(.answer), textarea, button,
.standard-course-card,
ul.standard-dropdown a,
ul.pagination a{
  &:focus{
    outline: none;
    box-shadow: inset 0 0 1px 1px $purple;
  }
}

input.answer-input:focus{
  background: rgba(136, 125, 220, 0.16) !important;
  box-shadow: none;
}

// .button:focus{
//   &.-purple, &.-purple-o, &.-to-learn, &.-to-review{
//     box-shadow: inset 0 0 1px 1px white;
//   }
// }

.see-answer-button:focus, .see-answer-button:hover{
  background: rgb(68, 245, 149) !important;
  color: rgb(10, 80, 42) !important;
  outline: none;
  transition-duration: 150ms;
}

// a.avatar:focus{
//   box-shadow: 0 0 1px 2px $purple;
// }

// header ul.notifications button.mark-as-read-on-unread-button,
// section.course-actions h1.title a{
//   &:focus{
//     background: rgb(29, 32, 53);
//     outline: none;
//     box-shadow: none;
//   }
// }
