@import 'css/variables';
.list-of-courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
  > .course{
    // layout
    position: relative;
    height: 200px;
    width: 156px;

    margin-right: 10px; margin-left: 10px;
    margin-bottom: 32px;
    // pretty
    border: 2px solid #444242;
    background: white;
    box-shadow: 0 2px 1px #777;
    text-align: center;

    // div or a
    > .actions{
      width: 100%;
      display: block;
      padding-right: 10px;
      box-sizing: border-box;
      text-align: right;

      border-bottom: 1px solid #ded5d5;
      background: rgba(232, 230, 230, 0.27);
      i{ opacity: 0.6; }
      &:hover{
        cursor: pointer;
        i{ opacity: 1; }
      }
    }

    > section.total-amount-of-mems{
      position: absolute;
      bottom: 0;
      width: 100%;

      padding-bottom: 2px;
      padding-top: 2px;

      background: $whale-tail-blue;
      color: white;
      border-top: 1px solid #424141;
    }

    > section.main{
      height: 145px;
      padding-top: 15px;
      position: relative;
      overflow: hidden;
      h3.title{
        font-size: 18px;
        font-weight: bold;
        padding: 0 6px;
        word-break: break-word;
        mark{
          background: none;
          color: $review-button-color;
        }
      }
      > article.description{
        height: 76px;
        font-size: 12px;
        overflow: hidden;
        // so that long links break
        word-wrap: break-word;

        padding-top: 12px;
        padding-right: 10px;
        padding-left: 10px;
      }
    }

    > section.total-amount-of-mems, section.amount-footer{
      font-size: 11px;
    }
    // specific subtypes
    &.-simpleCourse{
      cursor: pointer;
      &:hover{
        .actions i{ opacity: 1; }
      }
    }
    &.-learnReviewCourse{
      > section.main{
        section.links{ visibility: hidden; }
        &:hover{
          section.links{ visibility: visible; }
        }
        > .review-and-learn{
          position: absolute;
          top: 0; bottom: 0;
          width: 100%;

          > section.links{
            height: 100%;
            display: flex;
            > a.review, > a.learn{
              opacity: 0.9;
              // line in order to make this div proper width in chrome
              // https://stackoverflow.com/a/16833496/3192470
              -webkit-backface-visibility: hidden;
              width: 50%;
              color: white;
              font-size: 12px;
              font-weight: bold;

              // center text
              display: flex;
              align-items: center;
              justify-content: center;
              &:hover{
                text-decoration: none;
                opacity: 1;
              }
            }
            > a.review{
              background: $review-button-color;
              &.-simulated{ background: #b1b0b0; }
            }
            > a.learn{
              background: $learn-button-color;
              &.-zero{ visibility: hidden; }
            }
          }
          > section.amount-footer{
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            > .review, > .learn{
              width: 50%;
              color: white;
              z-index: 100;
              padding-top: 3px;
              padding-bottom: 3px;
            }
            > .review{
              &.-nonzero{ background: $review-button-color; }
              &.-zero{ background: #b1b0b0; }
            }
            > .learn{
              &.-nonzero{ background: $learn-button-color; }
              &.-zero{ visibility: hidden; }
            }
          }
        }
      }
    }
  }
  > .layout-div{
    width: 160px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.list-of-courses{
  @media(max-width: 560px){
    justify-content: space-around;
  }
  @media(max-width: 390px){
    > .course{
      width: 100%;
      height: 88px;
      padding-bottom: 19px;
      &.-simpleCourse{
        > section.main{
          height: auto !important;
          padding-top: 4px !important;
        }
        article.description{
          padding-top: 4px !important;
          height: 32px !important;
        }
      }
      &.-learnReviewCourse{
        > section.main{ height: 52px !important; }
        article.description{ display: none; }
      }
    }
  }
}
