@import 'css/variables';

.mixin-dont-break-out{
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.list-of-courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
  > .course{
    // layout
    position: relative;
    height: $course-in-list-height-desktop;
    width: 180px;
    overflow: hidden;

    margin-right: 10px; margin-left: 10px;
    margin-bottom: 32px;
    background: $color-main-3;
    text-align: center;

    // div or a
    > .actions{
      width: 100%;
      display: block;
      padding-right: 10px;
      box-sizing: border-box;
      text-align: right;

      border-bottom: 1px solid #ded5d5;
      background: rgba(232, 230, 230, 0.27);
      i{ opacity: 0.6; }
      &:hover{
        cursor: pointer;
        i{ opacity: 1; }
      }
    }

    > section.total-amount-of-mems{
      position: absolute;
      bottom: 0;
      width: 100%;

      padding-bottom: 2.5px;
      padding-top: 2.5px;

      background: $purple;
      color: white;
      //border-top: 1px solid #424141;
    }

    > section.main{
      height: 155px;
      padding-top: 10px;
      position: relative;
      overflow: hidden;
      h3.title{
        font-size: 18px;
        font-weight: bold;
        padding: 0 6px;
        word-break: break-word;
        color: white;
        mark{
          background: none;
          color: $review-button-color;
        }
      }
      > article.description{
        @extend .mixin-dont-break-out;

        height: 88px;
        font-size: 12px;
        overflow: hidden;

        padding-top: 12px;
        padding-right: 5px;
        padding-left: 5px;

        color: white;

        // the only nonstripped tag
        p{ margin: 0; }
      }
    }

    ul.star-rating{
      position: absolute;
      top: 0;
    }
    > section.total-amount-of-mems, section.amount-footer{
      font-size: 11px;
    }
    // specific subtypes
    &.-simpleCourse{
      cursor: pointer;
      &:hover{
        .actions i{ opacity: 1; }
      }
    }
    &.-learnReviewCourse{
      > section.main{
        section.links{ visibility: hidden; }
        &:hover{
          section.links{ visibility: visible; }
        }
        > .review-and-learn{
          position: absolute;
          top: 0; bottom: 0;
          width: 100%;

          > section.links{
            height: 100%;
            display: flex;
            > a.review, > a.learn{
              opacity: 0.9;
              // line in order to make this div proper width in chrome
              // https://stackoverflow.com/a/16833496/3192470
              -webkit-backface-visibility: hidden;
              width: 50%;
              color: white;
              font-size: 12px;
              font-weight: bold;

              // center text
              display: flex;
              align-items: center;
              justify-content: center;
              padding-bottom: 10px;
              &:hover{
                text-decoration: none;
                opacity: 1;
              }
            }
            > a.review{
              background: $review-button-color;
              &.-simulated{ background: #b1b0b0; }
            }
            > a.learn{
              background: $learn-button-color;
              &.-zero{ visibility: hidden; }
            }
          }
          > section.amount-footer{
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            > .review, > .learn{
              width: 50%;
              color: white;
              z-index: 100;
              padding-top: 3px;
              padding-bottom: 3px;
            }
            > .review{
              &.-nonzero{ background: $review-button-color; }
              &.-zero{ background: #b1b0b0; }
            }
            > .learn{
              &.-nonzero{ background: $learn-button-color; }
              &.-zero{ visibility: hidden; }
            }
          }
        }
      }
    }
  }
  > .layout-div{
    width: 160px;
    // height: 200px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.list-of-courses{
  @media(max-width: 560px){
    justify-content: space-around;
  }
  @media(max-width: 390px){
    > .course{
      width: 100%;
      height: $course-in-list-height-mobile;
      margin-bottom: 15px;

      &.-simpleCourse{
        > section.main{
          padding-top: 4px;
        }
        article.description{
          padding-top: 4px;
          height: 32px;
        }
      }
      &.-learnReviewCourse{
        > section.main{ height: 64px; }
        article.description{ display: none; }
      }
    }
  }
}
