@import 'css/variables';

section.problem{
  display: flex;
  .first-column, .second-column{
    width: 50%;
  }
  .first-column{ margin-right: 10px; }
  .second-column{ margin-left: 10px; }

  $answer-background: rgba(45, 245, 83, 0.9);
  .ql-editor{
    border-radius: 2px;
    background: rgb(34, 38, 74);

    img{
      display: block;
      margin: 0 auto;
    }
    strong{
      font-weight: 100;
      color: rgb(226, 148, 20) !important;
    }
    em{
      color: $purple !important;
      font-style: normal;
    }
  }
  &.-withInlinedAnswers{
    mark.answer{
      border: 2px solid $answer-background;
      padding: 1px 2px;
      border-radius: 2px;
    }
    .ql-editor{
      border: 2px solid rgb(170, 160, 247);
    }
  }
  &.-withSeparateAnswer{
    .first-column .ql-editor{
      border: 2px solid rgb(170, 160, 247);
    }
    .second-column .ql-editor{
      border: 2px solid $answer-background;
    }
  }
}
