@import 'css/variables';
.quill{
  position: relative;
  > .ql-toolbar{
    // box-shadow: 0px -3px 5px 4px rgba(255, 255, 255, 0.81);
    background: white;
    padding: 2px 10px !important;
    button:hover, button.ql-active{
      .ql-stroke{
        stroke: $whale-pink !important;
      }
      .ql-fill{
        fill: $whale-pink !important;
      }
    }
    .ql-formats{
      // margin-right: 11px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  > .ql-container.ql-snow{ border: none; }
  > .ql-container{
    border-top: none;
    background: white;
    height: auto;
    > .ql-editor{
      min-height: 58px;
      font-family: $body-font;
      font-size: 15px;
      pre.ql-syntax, code{
        background: rgba(253, 123, 246, 0.17);
        color: rgba(154, 41, 122, 0.7);
        font-size: 13px;
      }
      sup, sub{
        font-size: 13px;
        strong{ font-size: inherit; }
      }
      ul, ol{
        padding-left: 0;
      }
      strong{
        font-family: "Helvetica Neue";
      }
      a{ color: $whale-pink; }
      blockquote{
        border-left: 4px solid rgb(165, 164, 165);
        color: rgb(119, 116, 119);
        font-size: 12px;
      }

      img{
        display: block;
        margin: 0 auto;
        border: 1px solid rgba(236, 236, 236, 0.72);
      }

      // placeholder for when image is uploading.
      // fades in and out, has a spinning loading icon.
      section.placeholder-for-loading-image{
        cursor: progress;
        pointer-events: none;
        background: black;
        img{
          animation: fadeIn 1.3s infinite alternate;
        }
        // spinning icon
        position: relative;
        &:after{
          content: " ";
          display: block;

          $radius: 20px;
          width: $radius * 2;
          height: $radius * 2;
          position: absolute;
          left: calc(50% - #{$radius});
          top: calc(50% - #{$radius});

          margin: 1px;
          border-radius: 50%;
          border: 5px solid white;
          border-color: white transparent white transparent;
          animation: dual-ring 1.2s linear infinite;
        }
      }
      @keyframes dual-ring{
        0%{
          transform: rotate(0deg);
        }
        100%{
          transform: rotate(360deg);
        }
      }
      @keyframes fadeIn{ 
        from{ opacity: 0.2; }
        to{ opacity: 0.3; }
      }

      // placeholder!
      &.ql-blank::before{
        // color: rgba(0, 0, 0, 0.77);
        font-style: normal;
        padding-right: 10px;
        line-height: 20px;
        color: #b5b5b9;
      }
    }
  }
}
