@import 'css/variables';
.quill{
  position: relative;
  > .ql-toolbar{
    box-shadow: 0px -3px 5px 4px rgba(255, 255, 255, 0.81);
    background: white;
    padding: 2px 10px !important;
    button:hover, button.ql-active{
      .ql-stroke{
        stroke: $whale-pink !important;
      }
      .ql-fill{
        fill: $whale-pink !important;
      }
    }
    .ql-formats{
      // margin-right: 9px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  > .ql-container.ql-snow{ border: none; }
  > .ql-container{
    border-top: none;
    background: white;
    height: auto;
    > .ql-editor{
      min-height: 58px;
      font-family: $body-font;
      font-size: 15px;
      pre.ql-syntax, code{
        background: rgba(253, 123, 246, 0.17);
        color: rgba(154, 41, 122, 0.7);
        font-size: 13px;
      }
      sup, sub{
        font-size: 13px;
        strong{ font-size: inherit; }
      }
      ul, ol{
        padding-left: 0;
      }
      strong{
        font-family: "Helvetica Neue";
      }
      a{ color: $whale-pink; }
      blockquote{
        border-left: 4px solid rgb(165, 164, 165);
        color: rgb(119, 116, 119);
        font-size: 12px;
      }

      img{
        display: block;
        margin: 0 auto;
        border: 1px solid rgba(236, 236, 236, 0.72);
      }

      // placeholder!
      &.ql-blank::before{
        // color: rgba(0, 0, 0, 0.77);
        font-style: normal;
        padding-right: 10px;
        line-height: 20px;
        color: #b5b5b9;
      }
    }
  }
}
