.standard-input{
  display: inline-block; // for natural width
  &.-TextInput{
    input{
      width: 100%;
      max-width: 200px;
      box-sizing: border-box;
      border: solid 2px rgba(88, 90, 86, 0.65);
    }
  }
  &.-EditorTextarea{
    width: 100%;
    max-width: 400px;
    .quill{
      .ql-toolbar{
        border-bottom: none;
      }
      .ql-container{
        border: solid 2px rgba(88, 90, 86, 0.65) !important;
      }
      .ql-editor{
        min-height: 70px;
      }
    }
  }
  &.-Select{}
}
