@import 'css/variables';

// .tippy-box[data-theme='-bright'] is needed for vanilla tippy.js (e.g. in Quill toolbar)
.standard-tooltip, .tippy-box{
  &.-bright, &[data-theme='-bright']{
    background-color: rgb(64, 58, 110);

    .tippy-arrow{
      color: rgb(64, 58, 110);
    }
  }

  &.-dark{
    background-color: rgb(33, 36, 73);

    .tippy-arrow{
      color: rgb(33, 36, 73);
    }
  }

  &.-no-padding{
    .tippy-content{
      padding: 0;
    }
  }
}
