.standard-form{
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  &.-bordered{
    background: rgba(25, 26, 46, 0.27);
  }

  .form-insides{
    max-width: 640px;
    margin: 0 auto;

    > .form-line, > .two-form-lines-in-row{
      margin-top: 30px;
    }
  }

  .two-form-lines-in-row{
    display: flex;
    > .form-line{
      width: 100%;
      &:first-child{
        padding-right: 20px;
      }
      &:last-child{
        padding-left: 20px;
      }
    }
  }
  .form-line{
    &:first-child{ margin-top: 0; }
    > label{
      color: white;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.4px;
    }
    > div.input-and-validation-error{
      margin-top: 10px;
      > div.standard-input{}
      > div.validation-error{
        padding: 10px 20px;
        background: rgba(25, 26, 46, 0.27);
        border-radius: 0px 0px 5px 5px;
        text-align: left;
        color: $purple;
        font-size: 12px;
      }
    }
  }

  .standard-submit-button{
    margin: 0 auto;
    margin-top: 50px;
  }
}

.standard-form{
  @media(max-width: 800px){
    .form-line{
      > label{
        width: 20%;
      }
      > div.input-and-validation-error{
        width: 80%;
      }
    }
  }
  @media(max-width: 600px){
    .form-line{
      flex-wrap: wrap;
      > label{
        margin-bottom: 10px;
        width: 100%;
        text-align: left;
      }
      > div.input-and-validation-error{
        width: 100%;
        .quill > .ql-toolbar{ display: none; }
      }
    }
  }
}
