@import 'css/variables';
.standard-dropdown-wrapper{
  position: relative;
  button.toggler{ cursor: pointer; }
}
.standard-dropdown{
  position: absolute;
  width: 100%;
  z-index: 1000;

  background: #585858;
  opacity: 0.9;
  .loading.error{ color: white; }
  li{
    padding: 4px 10px;
    color: rgba(255, 255, 255, 0.77);
    border-bottom: 1px solid rgba(255, 255, 255, 0.49);
    mark{ color: $sims-green-color; }
    &:last-child{ border-bottom: none; }
    &:hover{
      opacity: 1;
      cursor: pointer;
    }
  }
}
