.standard-list-of-course-categories{
  ul.groups > li.group{
    margin-bottom: 10px;
    > span.group-name{
      border-left: 2px solid red;
      display: block;
      padding: 6px 10px;
      font-size: 16px;
      cursor: default;

      color: rgb(232, 234, 236);
      letter-spacing: 1px
    }
    > ul.categories > li.category{
      &:last-child{ border-bottom: none; }
      &:hover, &.-active{
        cursor: pointer;
        > .category-insides{
          > span.category-name{
            color: white;
          }
          > span.amount-of-courses{
            color: white;
            b{ opacity: 0.7; }
          }
        }
      }
      &:hover{ background: $purple; }
      &.-active{ background: $purple; }
      > .category-insides{
        padding: 3px 10px;
        padding-left: 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        > span.category-name{
          color: white;
          font-size: 14px;
          opacity: 0.7;
        }
        > span.amount-of-courses{
          color: rgb(195, 195, 195);
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 1px;
          b{ opacity: 0.2; }
        }
      }
    }
  }
}
