.standard-form{
  &.-bordered{ border: 2px #5a5d5a solid; }

  padding: 20px;
  .form-line{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    > label{
      width: 50%;
      text-align: right;
      padding-right: 40px;
    }
    > div.input-and-validation-error{
      width: 50%;
      > div.standard-input{}
      > div.validation-error{
        color: #19d422;
        text-align: left;
        font-size: 12px;
        padding-top: 5px;
      }
    }
  }

  .standard-submit-button{
    margin: 0 auto;
    margin-top: 50px;
  }
}
