.standard-navigation_and_courses{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  > nav.course-categories-nav{
    width: 231px;
    flex-grow: 0;
    flex-shrink: 0;
    border-right: 1px solid rgba(223, 201, 247, 0.06);

    margin-right: 70px;
    padding-bottom: 40px;
    margin-bottom: 50px;
  }
  > div.title_and_sorting_and_courses{
    // helps .loading to stay wide
    width: 100%;
    > div.title_and_sorting{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      > h1.title{
        font-size: 32px;
        font-weight: 100;
        letter-spacing: 0.3px;
      }

      > section.sort-by-dropdown-wrapper{
        max-width: 200px;
        > button.toggler{
          padding-left: 10px;
          padding-right: 10px;
          width: 151px;
        }
        > ul.standard-dropdown{
          padding: 0;
          li{
            padding: 0;
            a{
              padding: 10px;
              display: block;
            }
          }
        }
      }
    }
  }
}

.standard-navigation_and_courses{
  @media(max-width: 1200px){
    > nav.course-categories-nav{
      width: 170px;
      margin-right: 20px;
    }
  }

  @media(max-width: 900px){
    // flex-wrap: wrap;
    > nav.course-categories-nav{
      display: none;

      // width: 100%;
      // border-right: none;
      // > ul.groups{
      //   display: flex;
      //   flex-wrap: wrap;
      //   background: rgb(20, 22, 45);
      //   > li.group{
      //     width: 50%;
      //     padding-right: 10px;
      //     padding-left: 10px;
      //     > h2.group-name{
      //       border-left: 1px solid rgba(136, 125, 220, 0.12);
      //       background: rgba(136, 125, 220, 0.06);
      //     }
      //   }
      // }
    }
  }

  @media(max-width: 470px){
    > div.title_and_sorting_and_courses{
      width: 100%;
      .layout-div{
        display: none;
      }
    }
  }
}
