.standard-input{
  display: inline-block; // for natural width
  &.-TextInput{
    input{
      width: 100%;
      max-width: 200px;
      box-sizing: border-box;
      border: solid 2px rgb(236, 96, 172);
    }
  }
  &.-EditorTextarea{
    width: 100%;
    max-width: 440px;
    .quill{
      .ql-container{
        border: solid 2px rgb(236, 96, 172) !important;
      }
      .ql-editor{
        min-height: 70px;
      }
    }
  }
  &.-Select{}
}
