$sims-green-color: #00ff1d;

$learn-button-color: #1C263C;
$review-button-color:  #c1351a;

$black-gradient: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgb(51, 51, 51)), to(rgb(68, 68, 68)));
$green-nav-border: 2px $sims-green-color solid;

// for MEMCODE logo
@import url('https://fonts.googleapis.com/css?family=Orbitron');

@import url('https://fonts.googleapis.com/css?family=Amethysta');
@import url('https://fonts.googleapis.com/css?family=Sintony:400,700');
@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani:600');

$body-font: 'Amethysta';
$heading-font: 'Sintony';
