:local(form.form){
  > .fieldset > .input .ifPublic{
    font-size: 11px;
    padding: 3px 7px;
    width: 62px;
    text-align: center;
    border: 1px solid #1d1d56;
    cursor: pointer;
    &.-true{
      background: #1d1d56;
      color: white;
    }
    &.-false{
      color: rgba(58, 56, 56, 0.36);
    }
  }

  > .button.-black{
    margin-left: 0;
    margin-bottom: 20px;
    display: inline-block;
  }
  > .loading.request{
    display: block;
  }
}
