:local(form.form){
  text-align: center;

  .fieldset{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    > .label, > .input, > .error{
      width: 50%;
    }
    > .error{
      color: #19d422;
      text-align: left;
      font-size: 12px;
    }
    > .label{
      text-align: right;
      label{
        padding-right: 40px;
      }
    }
    > .input{
      text-align: left;
      input{
        width: 100%;
        max-width: 200px;
        box-sizing: border-box;
      }
    }
  }

  button{
    margin: 20px auto;
  }
}
