@import 'css/variables';

:local(.li){
  display: flex;

  padding: 5px 10px;
  border-top: 1px solid rgb(234, 229, 229);
  cursor: default;
  a{
    color: rgb(236, 96, 172);
  }

  // styles for particular types
  &.-type-someone_started_learning_your_course{
    > div.title_and_content_and_created-at{
      > div.content{
        span.learner-username{
          color: orange;
        }
      }
    }
  }

  &.-type-someone_rated_your_course{
    > div.title_and_content_and_created-at{
      > div.content{
        span.rater-username{
          color: orange;
        }
      }
    }
  }


  // style for read vs not-read notifications
  &.-already-read{
    opacity: 0.4;
    > button.mark-as-read-on-unread-button{
      cursor: pointer;
      > div.circle{
        background: rgb(222, 222, 222);
      }
    }
  }
  &.-not-yet-read{
    opacity: 1;
    > button.mark-as-read-on-unread-button{
      cursor: pointer;
      > div.circle{
        background: $purple;
      }
    }
  }

  > div.icon{
    flex-grow: 0; flex-shrink: 0;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > div.title_and_content_and_created-at{
    flex-grow: 1; flex-shrink: 1;
    > div.title{
      font-size: 12px;
    }
    > div.content{
      font-size: 12px;
      color: black;
    }
    > div.created-at{
      font-size: 11px;
      color: grey;
    }
  }
  > button.mark-as-read-on-unread-button{
    flex-grow: 0; flex-shrink: 0;
    padding-left: 20px;
    padding-right: 10px;
    > div.circle{
      $radius: 5px;
      width: $radius; height: $radius;
      border-radius: 50%;
    }
  }
}
