@import 'css/variables';

:local(.a){
  margin-top: 20px;
  width: 199px;
  height: 213px;
  background: rgb(25, 26, 46);
  padding: 10px;
  overflow: hidden;

  h2.title{
    margin-top: 10px;
    min-height: 42px;

    font-weight: 100;
    font-size: 18px;
    text-align: center;
  }

  div.description{
    margin-top: 10px;
    line-height: 15px;
    word-break: break-word;
    font-size: 12px;
    color: rgba(181, 213, 243, 0.35);
  }

  position: relative;
  section.total-amount-of-flashcards{
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 3px;
    padding-top: 3px;
    background: rgb(136, 125, 220);
    color: rgb(255, 255, 255);
    font-size: 11px;
  }

  > section.category-and-author{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    > div.category{
      border-left: 1px solid $purple;
      padding-left: 6px;
    }
    > div.username{
      font-weight: 100;
    }
  }
}
