:local(main.main){
  article{
    text-align: center;
    h3{
      border-top: 2px solid #42f93f;
      padding-top: 10px;
    }
  }

  .courses-and-nav{
    display: flex;
    > nav.standard-list-of-course-categories{
      width: 220px;
      flex-grow: 0;
      flex-shrink: 0;

      margin-right: 20px;
      margin-bottom: 30px;
    }
    > .loading.loading-courses{
      margin: 0 auto;
    }
  }
}
