@import 'css/variables';

:local(.main){
  article.for-beginners.welcome{
    > h1.welcome-title{
      margin: 20px 0;
      text-align: center;
      font-weight: bold;
    }
    > div.description{
      h2{ margin-bottom: 10px; }
      a{ color: $purple; }

      color: rgb(199, 196, 196);
      font-family: 'Roboto';
      font-weight: lighter;
      font-size: 13px;
      max-width: 400px;
      margin: 0 auto;
      text-align: center;
    }
  }
}
