@import 'css/variables';

:local(.ul){
  > li{
    margin-left: 3px;
    &:first-child{ margin-left: 0; }
    display: inline-block;

    color: rgba(255, 255, 255, 0.04);
    transition: color .2s ease-out;

    &:hover{
      cursor: pointer;
    }
    &.-selected{
      color: $purple;
    }
  }
}
