@import 'css/variables';

:local(.ul){
  > li{
    // padding instead of margin, so that we seemlessly hover over stars without no-star space
    padding-left: 2px;
    padding-right: 2px;
    &:first-child{ margin-left: 0; }
    display: inline-block;

    transition-property: color;
    transition-duration: .2s;
    &:hover{
      cursor: pointer;
    }
    &.-selected{
      color: $purple;
    }
    &.-not-selected{
      color: rgba(255, 255, 255, 0.04);
    }
  }
}
