:local(.loading){
  &.-request{
    text-align: center;
    img{
      padding: 20px;
      width: 80px;
    }
  }
  &.-failure{
    padding: 20px;
    margin-top: 30px;

    background: rgba(25, 26, 46, 0.27);
    border-radius: 2px;
    text-align: center;
    color: #ec4c7b;
    font-size: 14px;
  }
}
