:local(.loading){
  &.request{
    text-align: center;
    padding: 20px;
    img{ width: 40px; }
  }
  &.error{
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    background: white;
    color: black;
    font-weight: bold;
  }
}
