:local(main.main){
  article{
    max-width: 350px;
    margin: 0 auto;
    text-align: center;

    section.buttons{
      display: flex;
      justify-content: space-between;
      margin-top: 35px;
      .button.sign-in{
        flex-basis: 167px;
        box-sizing: border-box;
        i{
          font-size: 20px;
          padding-left: 10px;
        }
        &.-gmail{
          background: #eeb211;
          color: white;
        }
        &.-github{
          background: #822fec;
          color: white;
        }
      }
    }
  }
}
