@import 'css/variables';

:local(section.section){
  display: flex;
  align-items: center;
  // compensating for nav
  > a{
    min-width: 90px;
    padding: 10px 10px;
    margin-right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 10px;
    color: white;

    &.-to-learn{ background: $learn-button-color; }
    &.-to-review{ background: $review-button-color; }
    &.-nonzero{
      opacity: 0.9;
      &:hover{ opacity: 1; }
    }
    &.-zero{
      cursor: default;
      opacity: 0.1;
    }
  }
}
