@import 'css/variables';
:local(section.section){
  max-width: 90px;
  // compensating for nav
  > a{
    height: 50%;
    display: flex;
    align-items: center;
    padding: 0 10px;

    font-family: $body-font;
    font-size: 10px;
    color: white;

    &.-to-learn{ background: $learn-button-color; }
    &.-to-review{ background: $review-button-color; }
    &.-nonzero{
      opacity: 0.9;
      &:hover{ opacity: 1; }
    }
    &.-zero{
      cursor: default;
      opacity: 0.1;
    }
  }
}
