possible patterns for main background

/* background: url(https://www.toptal.com/designers/subtlepatterns/patterns/stardust.png); */
background: url(https://www.toptal.com/designers/subtlepatterns/patterns/mochaGrunge.png);
background: url(https://www.toptal.com/designers/subtlepatterns/patterns/use_your_illusion.png);
background: url(https://www.toptal.com/designers/subtlepatterns/patterns/linen.png);
background: url(https://www.toptal.com/designers/subtlepatterns/patterns/struckaxiom.png);

