:local(.modal-insides){
  margin-top: 40px !important;
  > .standard-form{
    background: white;
  }

  .delete-course-and-confirm-button{
    max-width: 120px;

    button.button{
      background: rgb(222, 9, 9);
      color: white;
      font-size: 8px;
      padding: 6px;
      &.-delete{ opacity: 0.7; }
      &.-confirm{ opacity: 1; }
    }
  }
}
