@import 'css/variables';

:local(.CourseCardLearnReview){
  width: 199px;
  height: 213px;
  background: rgb(25, 26, 46);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // instead of global padding
  h2.title,
  section.category_and_author,
  a.go{
    padding: 0 10px;
  }

  > a.go{
    flex-grow: 0;
    flex-shrink: 0;

    width: 100%;
    background: rgb(29, 31, 52);
    text-align: right;
    color: white;
    opacity: 0.8;
    &:hover{
      opacity: 1;
      text-shadow: 0 0 6px rgba(243, 243, 243, 0.5);
    }
    i{
      font-size: 14px;
    }
  }
  > div.main{
    flex-grow: 1;
    height: 100%;
    position: relative;
    &:hover{
      > div.learn-and-review-buttons > section.links{
        visibility: visible;
      }
    }
    > h2.title{
      margin-top: 20px;

      font-weight: 100;
      font-size: 18px;
      text-align: center;
    }

    > section.category_and_author{
      padding-top: 10px;
      font-size: 12px;
      display: flex;
      justify-content: space-between;
      cursor: default;
      > div.category{
        border-left: 1px solid $purple;
        padding-left: 6px;
      }
      > div.author{
        font-weight: 100;
      }
    }

    > div.learn-and-review-buttons{
      > section.links{
        visibility: hidden;

        position: absolute;
        left: 0; right: 0;
        bottom: 18px; top: 0;
        display: flex;

        > a{
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0.8;
          font-size: 12px;
          &:hover{
            opacity: 1;
          }
          &.learn{
            background: $learn-button-color;
            &.-zero{
              visibility: hidden;
            }
          }
          &.review{
            background: $review-button-color;
            &.-simulated{
              color: rgb(214, 37, 111);
              background: rgb(29, 31, 52);
              text-align: center;
            }
          }
        }
      }
      > section.amount-footer{
        background: rgba(86, 91, 130, 0.08);
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        display: flex;
        cursor: default;
        > div.learn, > div.review{
          width: 50%;
          font-size: 10px;
          padding: 4px 0;
          text-align: center;
          text-transform: uppercase;
        }
        > div.learn{
          background: $learn-button-color;
          &.-zero{
            opacity: 0;
            pointer-events: none;
            cursor: default;
          }
        }
        > div.review{
          &.-nonzero{
            background: $review-button-color;
          }
          &.-zero{
            color: white;
          }
          &.-empty{
            visibility: hidden;
          }
        }
      }
    }
  }
}
