@import 'css/variables';

:local(.CourseCardLearnReview){
  width: 199px;
  height: 213px;
  background: $color-main-3;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > a.go{
    flex-grow: 0;
    flex-shrink: 0;

    width: 100%;
    background: rgba(86, 91, 130, 0.08);
    text-align: right;
    color: white;
    opacity: 0.8;
    &:hover{
      opacity: 1;
      text-shadow: 0 0 6px rgba(243, 243, 243, 0.5);
    }
    i{
      font-size: 14px;
    }
  }
  > div.main{
    flex-grow: 1;
    height: 100%;
    position: relative;
    > h2.title{
      margin-top: 20px;
    }

    > section.category_and_author{
      padding-top: 10px;
    }

    &:hover{
      > div.learn-and-review-buttons > section.links{
        > a{
          opacity: 0.8;
        }
        > a.review.-simulated{
          opacity: 1;
        }
      }
    }
    > div.learn-and-review-buttons{
      > section.links{
        position: absolute;
        left: 0; right: 0;
        bottom: 22px; top: 0;
        display: flex;

        > a{
          opacity: 0;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          &:hover, &:focus{
            opacity: 1;
            box-shadow: none;
            border: none !important;
          }
          &.learn{
            background: $learn-button-color;
            &.-zero{
              visibility: hidden;
            }
          }
          &.review{
            background: $review-button-color;
            &.-simulated{
              color: white;
              background: rgb(105, 96, 193);
              padding: 5px;
              text-align: center;
              // &:hover{
              //   background: $purple;
              // }

              > div.text{
                > div.review-text{
                  font-size: 13px;
                }
                > div.without-text{
                  margin-top: 4px;
                  font-size: 11px;
                }
              }
            }
          }
        }
      }
      > section.amount-footer{
        background: rgba(86, 91, 130, 0.08);
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        display: flex;
        height: 22px;
        cursor: default;
        > div.learn, > div.review{
          width: 50%;
          font-size: 10px;
          padding: 4px 0;
          text-align: center;
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        > div.learn{
          background: $learn-button-color;
          &.-zero{
            opacity: 0;
            pointer-events: none;
            cursor: default;
          }
        }
        > div.review{
          &.-nonzero{
            background: $review-button-color;
          }
          &.-zero{
            color: white;
            i.timer-icon{
              color: $purple;
              font-size: 14px;
              padding-right: 5px;
            }
          }
          &.-empty{
            visibility: hidden;
          }
        }
      }
    }
  }
}
