@import 'css/variables';

:local(.section){
  .dropdown{
    border-top: none;
    position: absolute;
    max-height: 200px;
    overflow-y: scroll;
    width: 100%;
    z-index: 1000;
    span.group-name{
      padding: 1px 10px;
      font-size: 12px;
    }
    li.category{
      &:hover{
        background: $purple;
      }
      &.-active{
        background: $purple;
      }
    }
  }
}
