:local(.course-form){
  .form-line.-ifPublic{
    button{
      background: #1d1d56;
      color: white;
      font-size: 11px;
      text-transform: uppercase;
      padding: 5px 10px;
      border-bottom: none;
      i{ display: none; }
    }
    .standard-dropdown{
      font-size: 12px;
    }
  }
}
