@import 'css/variables';
:local(.course-form){
  .form-line.-ifPublic{
    button{
      // background: $deep-green;
      // color: white;
      font-size: 11px;
      text-transform: uppercase;
      padding: 5px 22px;
      border: 2px solid rgb(236, 96, 172);
      i{ display: none; }
    }
    .standard-dropdown{
      font-size: 12px;
      text-transform: uppercase;
    }
  }
  .form-line.-courseCategoryId{
    .standard-dropdown-wrapper{
      width: 220px;
      > button.toggler{
        border-bottom: 2px solid rgb(236, 96, 172);
      }
      > .dropdown.standard-list-of-course-categories{
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        z-index: 1000;
        height: 250px;
        overflow: scroll;
        border-bottom: 2px solid $deep-green;
      }
    }
  }
}
