:local(main.main){
  section.problems{
    > .thead{
      position: relative;
      padding-bottom: 6px;
    }
    > .tbody{
      // to avoid editing problem at the bottom of the screen
      margin-bottom: 500px;

      > .old-problem{
        position: relative;
        margin-bottom: 10px;
        // for placeholder to not take a lot of space
        .DraftEditor-root{
          overflow: hidden;
        }
        > .remove{
          position: absolute;
          right: -20px; top: 0;
          i.fa-trash-o{
            cursor: pointer;
          }
        }
      }
      > .new-problem{
        position: relative;
        // for placeholders to fit
        .DraftEditor-root{
          min-height: 40px;
        }
        > .choose-type{
          position: absolute;
          right: -115px;
          top: 0;
          > .button{
            font-size: 9px;
            padding: 4px;
            opacity: 0.5;
            &.-active{
              opacity: 1;
              cursor: default;
            }
            &:not(.-active):hover{
              opacity: 0.9;
            }
          }
        }
      }
    }
  }
}
