@import 'css/variables';

:local(main.main){
  section.problems{
    > .thead{
      position: relative;
      padding-bottom: 6px;

      display: flex;
      justify-content: space-between;
      margin-top: -4px;
    }
    > .tbody{
      // to avoid editing problem at the bottom of the screen
      margin-bottom: 40px;

      section.problem{
        &.-not-focused .ql-toolbar{ opacity: 0; }
        &.-focused .ql-toolbar{ opacity: 1; }

        &.-withInlinedAnswers{
          > .first-column{
            .ql-toolbar{
              padding-right: 0;
              button.ql-answer{
                font-size: 10px;
                width: 43px !important;
                padding: 0;

                text-align: center;
                font-weight: bold;

                color: #9baf9e;
                border-radius: 2px;
                &.ql-active, &:hover{
                  color: $sims-green-color;
                }
                &::after{ 
                  content: "Mark As Answer";
                }
              }
              .ql-formats{
                margin-right: 9px;
                &:last-child{
                  margin-right: 0;
                }
              }
            }
          }
        }
      }

      > .new-problem{
        position: relative;
        margin-top: 40px;
        > section.how-to-create{
          margin-top: 10px;
          color: #adadad;
          text-align: right;
          font-size: 12px;
          button.button{
            display: inline-block;
            margin-left: 10px;
          }
        }
        > section.choose-type{
          position: absolute;
          right: -66px;
          top: 0;
          > .button{
            font-size: 9px;
            padding: 4px;
            opacity: 0.5;
            width: 50px;
            &.-active{
              opacity: 1;
              cursor: default;
            }
            &:not(.-active):hover{
              opacity: 0.9;
            }
          }
        }
      }
    }
  }
}

:local(main.main){
  @media(min-width: 627px){
    // to allow editing on ipads,
    // prevents horizontal scroll
    .container{ padding: 0 73px; }
  }
  @media(max-width: 627px){
    section.problems{
      .ql-editor{ padding: 4px 3px; }
      .new-problem{ display: none; }
      .actions{ display: none; }
      .ql-toolbar{ display: none; }
    }
  }
}
