@import 'css/variables';

:local(main.main){
  ul{ padding-top: 20px; li{ padding-bottom: 10px; } }
  h1{ font-size: 30px; }
  .how-did-I-choose-sites-for-comparison{
    h4{
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    ul{
      padding-top: 10px;
      li{ padding-bottom: 0; }
    }
  }
  // shared among children
  .sites{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .site, .conclusion{
      h3{
        padding-left: 10px;
        margin-top: 30px;
        border-left: 21px solid #303030;
        font-weight: bold;
        position: relative;
        right: 21px;
      }
      .description{
        margin-top: 20px;
      }
    }
    .site{
      width: 100%;
      h3{
        color: $whale-blue;
        width: 138px;
        > span.rating{
          font-size: 15px;
          width: 23px; height: 21px;
          border-radius: 50%;
          padding-top: 2px;
          float: right;

          background: #303030;
          color: white;

          // center a number
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .conclusion{
      width: 100%;
      h3{
        background: $whale-blue;
        color: white;
        padding: 5px;
        padding-left: 10px;
      }
    }
  }

  // child-specific
  section.article-section#types-of-tasks{
    ul{
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      list-style-type: none;
      li{
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: -1px 0px 9px 2px #0f1835;
        font-weight: bold;
        text-align: center;
      }
    }
    img{
      width: 100%;
      max-width: 325px;

      margin: 0 auto;
      display: block;
      margin-top: 10px;
      border: 1px solid #c6cbea;
    }
  }

  section.article-section#when-to-use-each{
    .site h3{
      width: auto;
      > span.answer{
        color: black;
        font-size: 16px;
      }
    }
  }

  // overrides
  .article-formatting{
    .article-headings{
      margin-bottom: 0;
      mark{ color: $whale-blue; }
    }
    mark{
      background: none;
      color: #016501;
      font-weight: bold;
    }
    section.article-section{
      padding-top: 40px;
      margin-top: -20px;
      padding-bottom: 0;
      border-top: none;
      h2.section-heading{
        margin-bottom: 5px;
        margin-top: 30px;
        background: #303030;
        color: white;
        font-weight: normal;
        padding: 5px;
        padding-left: 31px;

        position: relative;
        right: 21px;
        width: 50%;
      }
    }
  }
}

@media(max-width: 600px){
  :local(main.main){
    h2.section-heading{
      width: auto !important;
    }
    nav.article-navigation{
     display: none;
    }
  }
}
