@import 'css/variables';

:local(main.main){
  article{
    ul{ padding-top: 20px; li{ padding-bottom: 10px; } }
    h1{
      font-size: 30px;
      font-size: 40px;
      font-weight: 100;
      margin-top: 40px;
    }
    .how-did-I-choose-sites-for-comparison{
      margin-top: 40px;
      h4{
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 100;
      }
      ul{
        padding-top: 10px;
        li{ padding-bottom: 0; }
      }
    }
    // shared among children
    .sites{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .site{
        h3{
          font-weight: 100;
        }
      }
      .site{
        width: 100%;
        border-left: 1px solid rgba(136, 125, 220, 0.13);
        margin-top: 20px;
        padding-left: 20px;
        h3{
          color: rgb(212, 4, 236);
          width: 190px;
          > span.rating{
            em{
              font-style: normal;
              padding-right: 5px;
              color: rgb(234, 226, 152);
              text-shadow: none;
              position: relative;
              bottom: 2px;
              // font-size: 14px;
            }
            font-size: 18px;
            font-weight: 300;
            float: right;
            color: rgb(255, 255, 255);
            text-shadow: 0 0 5px #ffffff7d;
          }
        }
      }
      .conclusion{
        margin-top: 20px;
        padding: 20px;
        background: rgba(136, 125, 220, 0.13);
        width: 100%;
        h3{
          display: none;
          font-size: 20px;
          padding: 5px;
          padding-left: 10px;
        }
      }
    }

    // child-specific
    section.article-section#types-of-tasks{
      .site.brainscape ul{
        box-shadow: none;
        li{
          box-shadow: 5px 2px 20px 0px #1e203a;
        }
      }
      ul{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        list-style-type: none;
        box-shadow: 5px 2px 20px 0px #1e203a;
        padding-top: 0;
        margin-top: 30px;
        li{
          width: 50%;
          padding: 14px;
          box-sizing: border-box;
          box-shadow: 0px 0px 6px 0px #0f1122;
          text-align: center;
          background: rgb(31, 32, 58);
          margin-bottom: inherit;
          line-height: 22px;
          font-size: 15px;
          font-weight: 100;
          min-height: 205px;
        }
      }
      img{
        width: 100%;
        max-width: 310px;
        margin: 0 auto;
        display: block;
        margin-top: 10px;
        // border: 2px solid rgb(8, 9, 16);
      }
    }

    section.article-section#when-to-use-each{
      .site h3{
        width: auto;
        > span.answer{
          font-size: 16px;
        }
      }
    }

    section.article-section#ui{
      .description b{
        font-weight: 300;
        color: $purple;
      }
    }

    // overrides
    &.article-formatting{
      .article-headings{
        margin-bottom: 0;
        mark{ color: rgb(212, 4, 236); }
      }
      mark{
        background: none;
        color: $purple;
        
      }
      section.article-section{
        padding-top: 40px;
        padding-bottom: 0;
        h2.section-heading{
          font-size: 33px;          
        }
      }
    }

  }
}

@media(max-width: 600px){
  :local(main.main){
    h2.section-heading{
      width: auto !important;
    }
  }
}
