@import 'css/variables';

:local(.section){
  background: rgb(14, 16, 49);

  // hide shit on mobile, show shit on desktop
  .-mobile{ display: none; }
  .-desktop{ display: block; }

  > .container{
    padding-top: 13px;
    padding-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button.volume-button{
    i{
      font-size: 20px;
      color: $purple;
    }
    &.-yes{
      opacity: 0.9;
      i.-yes{ display: block; }
      i.-no{ display: none; }
      // &:hover{
      //   i.-yes{ display: none; }
      //   i.-no{ display: block; }
      // }
    }
    &.-no{
      opacity: 0.5;
      i.-yes{ display: none; }
      i.-no{ display: block; }
      // &:hover{
      //   i.-yes{ display: block; }
      //   i.-no{ display: none; }
      // }
    }
  }

  // may be shared
  div.amount-of-problems-left{
    position: relative;
    label{
      position: absolute;
      text-transform: uppercase;
      font-size: 10px;
      right: 5px;
      top: 2px;
    }
  }

  .instructions{
    em{
      font-style: normal;
      text-transform: uppercase;
    }
    em.yellow-emphasis{
      color: $test-drive-button-color;
      text-shadow: 0 0 2px #f7f96d9e;
    }
    em.red-emphasis{
      color: rgb(245, 63, 63);
      text-shadow: 0 0 1px #ff1d1d;
      &.-darker{
        color: rgb(255, 29, 29);
        text-shadow: 0 0 8px #ff1d1d;
      }
    }
    em.review-emphasis{
      color: rgb(90, 228, 153);
      text-shadow: 0 0 2px #d7256f7a;
    }
    em.white-emphasis{
      // color: white;
      // text-shadow: 0 0 4px #ffffff54;
      font-size: 16px;
    }
    &.-desktop{
      padding-bottom: 4px;
    }
  }
  .amount-of-problems-left{
    width: 400px;
    max-width: 100%;
  }

  // types of headers
  &.-simulated-review > .container{
    padding-top: 10px;
    padding-bottom: 10px;
    > div.instructions{ font-size: 14px; }
  }
  &.-usual-review > .container{
    > div.instructions{
      font-size: 14px;
      p{
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
    > div.buttons{
      display: flex;
      align-items: center;
      button{
        font-size: 9px;
        padding: 0 8px;
        height: 31px;
        min-width: auto;
        letter-spacing: 0.9px;
      }
      button.randomize-button{
        margin-left: 10px;
      }
    }
  }
  &.-failed-flashcards-review > .container{
    > div.instructions{ font-size: 14px; }
  }
}

// @media(max-width: 700px){
//   :local(.section){
//     .container{
//       display: block;
//       .amount-of-problems-left{
//         margin-top: 15px;
//         width: 100%;
//       }
//     }

//     .-mobile{
//       display: block;
//     }
//     .-desktop{
//       display: none;
//     }
//   }
// }
