@import 'css/variables';
:local(section.search){
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  > div.toggler{
    // position
    display: flex;
    width: 100%;
    margin: 5px 0;
    i{
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 20px;
      align-self: center;
      padding-right: 10px;
      padding-left: 18px;

      position: relative;
      bottom: 1px;
    }
    input{
      flex-shrink: 1;
      flex-grow: 1;
      flex-basis: 100%;
      padding-left: 0;
    }

    // looks
    background: rgb(7, 9, 39);
    font-size: 13px;
    input{
      background: transparent;
      color: white;
      &::placeholder{
        color: rgba(255, 255, 255, 0.8);
      }
    }
    i{
      font-size: 16px;
      color: white;
    }
  }
  > div.standard-dropdown{
    width: 100%;
    max-height: 300px;
    padding: 0;
    box-shadow: 0px 0px 10px 2px rgba(11, 12, 31, 0.9);
    > div.header{
      padding: 5px 10px;
      font-size: 12px;
      text-align: right;
    }
    > ul{
      > li{ padding: 0; }
      > li > a{
        background: rgb(15, 17, 34);
        display: block;
        > div.title_and_description{
          width: 100%;
          padding: 6px 10px;
          > div.title, > div.description{
            mark{ color: $purple; }
            p{ margin: 0 }
          }
          > div.title{
            font-size: 13px;
            // for a hat to fit
            padding-right: 10px;
          }
          > div.description{
            padding-top: 5px;
            font-size: 11px;
            color: rgba(181, 213, 243, 0.35);
            overflow-x: hidden;
          }
        }
        > div.course-stats{
          width: 100%;
          display: flex;
          justify-content: space-between;
          font-size: 11px;
          color: white;
          padding: 3px 10px;
          background: rgba(230, 230, 230, 0.2);
          > div.amount-of-students{
            i{
              padding-right: 4px;
              color: rgb(189, 189, 189);
            }
          }
          > div.course-category-name{
            border-left: 1px solid rgb(136, 125, 220);
            padding-left: 6px;
          }
        }
        position: relative;
        > div.status{
          position: absolute;
          top: 4px; right: 4px;
          font-size: 12px;
          color: rgb(34, 59, 119);
        }
      }
    }
  }
}
