:local(.div){
  &.-with-children{}
  &.-without-children{
    padding-left: 5px;
    padding-right: 5px;

    position: relative;
    top: -6px;

    cursor: pointer;
    > i{
    }
  }
}
:local(.html){
  font-size: 12px;
  max-width: 200px;
}
