@use '~/css/variables.scss';

:local(.standardTooltipButton){
  display: inline-block;

  position: relative;
  top: -2px;
  padding-bottom: 2px;

  cursor: pointer;
  > i{
    color: variables.$purple;
    opacity: 0.9;
    font-size: 14px;
  }
}
