@import 'css/variables';
:local(nav.nav){
  background: $deep-green;
  border-top: 3px solid rgba(55, 102, 167, 0.21);
  border-bottom: 2px solid rgb(49, 29, 39);

  .container{
    display: flex;
    justify-content: space-between;
    > section.links{
      display: flex;
      a{
        display: flex;
        margin-right: 10px;
        font-family: $heading-font;
        color: white;
        text-transform: uppercase;
        font-size: 11px;
        padding: 5px 20px;
        &:hover, &.active{
          background: rgb(236, 96, 172);
        }
      }
    }

    > section.settings.standard-tooltip{
      display: flex;
      align-items: center;

      > .toggler{
        color: rgba(255, 255, 255, 0.34);
        font-size: 14px;
      }
      > .modal{
        right: 0; left: auto;
        line-height: 14px;
      }
    }
  }
}

:local(nav.nav){
  @media(max-width: 410px){
    > .container{
      > section.links > a{
        margin-right: 11px;
        padding-right: 2px;
        padding-left: 2px;
      }
    }
  }
}
