@import 'css/variables';
:local(nav.nav){
  background: #333333;
  padding-top: 5px;
  border-top: 2px solid rgba(0, 0, 0, 0.22);
  .container{
    display: flex;
    justify-content: space-between;
    > section.links{
      display: flex;
      a{
        display: flex;
        margin-right: 37px;
        font-family: $heading-font;
        color: white;
        text-transform: uppercase;
        font-size: 11px;
        &:hover, &.active{
          border-bottom: $green-nav-border;
        }
      }
    }

    > section.settings.standard-tooltip{
      color: white;
      > .modal{ right: 0; left: auto; }
    }
  }
}

:local(nav.nav){
  @media(max-width: 410px){
    > .container{
      > section.links > a{
        margin-right: 11px;
        padding-right: 2px;
        padding-left: 2px;
      }
    }
  }
}
