@import 'css/variables';

:local(nav.nav){
  background: #333333;
  background: $black-gradient;
  padding: 3px 0px 4px 0px;
  border-top: 1px black solid;
  border-bottom: 3px black solid;
  font-family: $heading-font;

  .container{
    display: flex;
    justify-content: space-between;
    > section.links{
      a{
        color: white;
        text-transform: uppercase;
        font-size: 11px;

        padding: 5px;
        padding-top: 7px; padding-bottom: 7px;

        margin-right: 37px;
        &:hover, &.active{
          border-bottom: $green-nav-border;
        }
      }
    }

    > section.settings{
      position: relative;
      color: white;
      &:hover{
        .tooltip{
          display: block;
        }
      }
      .tooltip{
        display: none;
        position: absolute;
        top: 20px;
        min-width: 75px;
        text-align: center;
        right: 0px;

        background: #333333;
        background: $black-gradient;
        border: 2px solid rgba(28, 218, 21, 0.82);
        a{
          padding: 2px 10px;
          color: white;
          font-size: 11px;
          text-transform: uppercase;
        }
      }
    }
  }
}

:local(nav.nav){
  @media(max-width: 410px){
    > .container{
      > section.links > a{
        margin-right: 11px;
        padding-right: 2px;
        padding-left: 2px;
      }
    }
  }
}
