:local(.section){
  > section.congratulations{
    color: white;
    text-align: center;
    h2{
      font-weight: 100;
      font-size: 27px;
      letter-spacing: 0.4px;
    }
    div.next-review-time{
      color: rgba(181, 213, 243, 0.35);
      font-size: 14px;
      margin-top: 13px;
    }
    h3.whats-next{
      width: 150px;
      margin: 0 auto;
      margin-top: 35px;
      font-weight: 300;
      text-align: center;
      // border-bottom: 2px solid rgb(255, 192, 203);
    }
  }
  > section.offered-courses{
    max-width: 915px;
    margin: 0 auto;
    margin-top: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .course-card{
      margin-top: 35px;
    }
    .layout-div{ display: none; }
  }
}
