:local(.section){
  > section.congratulations{
    color: white;
    text-align: center;
    margin-top: 30px;
    h2{
      font-weight: 100;
      font-size: 37px;
      letter-spacing: 0.4px;
      color: rgb(81, 229, 190);
    }
    div.next-review-time{
      color: rgba(181, 213, 243, 1);
      font-size: 14px;
      margin-top: 13px;
      letter-spacing: 0.4px;

      text-transform: uppercase;
      margin-top: 20px;
      font-size: 12px;

      height: 41px;

      i{
        margin-right: 5px;
        font-size: 21px;
        width: 100%;
        margin-bottom: 6px;
        color: rgb(33, 165, 130);
      }
    }
  }
  section.whats-next{
    > h2{
      margin: 0 auto;
      margin-top: 40px;
      text-align: center;
      color: rgb(181, 213, 243);
      font-weight: 100;
      font-size: 25px;
    }
    > div.offered-courses{
      max-width: 915px;
      margin: 0 auto;
      margin-top: 34px;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .standard-course-card{
        margin-bottom: 25px;
      }
      .layout-div{ display: none; }
    }
  }
}
