@import 'css/variables';

:local(.section){
  $purple-question-border: 3px solid rgb(170, 160, 247);
  $green-answer-border: 3px solid rgb(160, 247, 200);
  $green-answer-box-shadow: 0px 0px 6px 2px rgba(143, 242, 124, 0.39);
  $purple-question-box-shadow: 0px 0px 6px 2px rgba(137, 94, 241, 0.62);

  section.problem{
    max-width: 1210px;
    margin: 0 auto;
    margin-bottom: 20px; margin-top: 60px;

    box-shadow: 0px 0px 32px 4px rgba(224, 174, 234, 0.08);
    padding: 18px;
    border-radius: 5px;
    background: rgba(14, 16, 49, 0.52);

    &.-withInlinedAnswers{
      .ql-editor{
        box-shadow: $purple-question-box-shadow;
      }
      input.answer-input{
        width: 120px;
        display: inline-block;
        // padding: 0 10px;
        text-align: center;

        padding: 2px 0;
        margin: 0 4px;
        border-radius: 2px;
        &:focus{ outline: none; }
        &[data-answered='right']{
          box-shadow: $green-answer-box-shadow;
          border: $green-answer-border;
          background: rgb(68, 245, 149) !important;
          color: rgb(10, 80, 42) !important;
        }
        &[data-answered='wrong']{
          border: 2px solid #f9637d;
          color: #f9637d !important;
        }
        &[data-answered='waiting']{
          color: rgb(206, 199, 245) !important;
          // font-weight: 500;
          // border: 2px solid #FFEB3B;
          border: 2px solid $purple;
        }
      }
    }
    &.-withSeparateAnswer{
      flex-wrap: wrap;
      justify-content: flex-end;

      > div.question-and-answer{
        width: 100%;
        display: flex;
        .question.first-column{
          .ql-editor{
            box-shadow: $purple-question-box-shadow;
            border: $purple-question-border;
          }
        }
        .answer.second-column{
          .ql-editor{
            box-shadow: $green-answer-box-shadow;
            border: $green-answer-border;
          }
        }
        // button or answer editor
        button.see-answer-button{
          max-height: 400px;
          width: 100%;
          height: 100%;
          font-weight: 300;
          padding: 6px 0;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          user-select: none;
          border-radius: 2px;

          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          box-shadow: $green-answer-box-shadow;
          border: $green-answer-border;
          background: rgb(34, 38, 74);          
          color: rgb(160, 247, 200);
        }
      }

      > div.draft-answer{
        display: flex;
        width: 100%;
        .quill{
          margin-top: 20px;
          // placeholder!
          .ql-editor.ql-blank::before{
            color: rgba(132, 155, 249, 0.48);
          }
          .ql-editor{
            border: none !important;
            background: rgb(34, 38, 74);
            min-height: 54px;
          }
          .ql-toolbar{
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
            transition-duration: 300ms;
            transition-property: height, background, padding;
          }
          &:focus-within{
            .ql-toolbar{
              height: 31px;
              background: rgb(22, 25, 51);
              padding-top: 2px;
              padding-bottom: 2px;
            }
            .ql-editor{
              border-top-left-radius: 0;
              border-top-right-radius: 0;
            }
          }
        }
      }
    }
  }

  button.next-button{
    max-width: 100px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 2px;
    opacity: 0.9;
    &:hover{
      opacity: 1;
    }
  }

  button.reveal{
    color: rgba(251, 250, 242, 0.85);
    background: rgb(43, 47, 82);
    max-width: 150px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 2px;
    &:hover{
      color: white;
    }
  }
}

@media(max-width: 900px) {
  :local(.section){
    padding-bottom: 80px;
    > section.Subheader{
      > .container{
        flex-wrap: wrap;
        padding-top: 10px;
        padding-bottom: 10px;
        .amount-of-problems-left{
          margin-top: 15px;
          margin-bottom: 15px;
          width: 100%;
        }
      }
      .-mobile{ display: block; text-align: right; }
      .-desktop{ display: none !important; }
      &.-simulated-review .instructions.-mobile{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    // Must be not >, for /articles/welcome!
    section.problem{
      margin-right: 20px;
      margin-left: 20px;
      margin-top: 30px;
      padding: 0;
      box-shadow: none;
      .ql-editor{
        padding: 6px 10px;
      }
      .first-column, .second-column{
        width: 100%;
      }
      .first-column{
        padding-right: 0 !important;
      }
      .second-column{
        margin-top: 20px;
        padding-left: 0px !important;
      }
      &.-withInlinedAnswers{
        flex-wrap: wrap;
      }
      &.-withSeparateAnswer{
        flex-wrap: wrap;
        > div.question-and-answer{
          flex-wrap: wrap;
        }
        button.see-answer-button{
          min-height: 58px;
        }
        div.draft-answer{ display: none !important; }
      }
    }

    > section.self-score{
      margin-top: 25px;
      li{
        padding-bottom: 20px;
      }
    }

    > button.next-button, > button.reveal{
      margin-top: 30px;
    }
  }
}
