@import 'css/variables';

:local(.section){
  .extendable-class-read-all_and_see-more{
    text-transform: uppercase;
    font-family: "Helvetica Neue";
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(82, 82, 82);
    font-size: 9px;
    cursor: pointer;
  }

  position: relative;
  &.-there-are-unread-notifications{
    > div.toggler{ color: $whale-pink; }
  }
  &.-there-are-no-unread-notifications{
    > div.toggler{ color: white; }
  }
  > div.toggler{
    cursor: pointer;
    padding: 8px 20px;
    padding-left: 15px;

    position: relative;
    > div.amount-of-unread-notifications{
      position: absolute;
      top: 0px; right: 10px;
      font-size: 10px;
      color: rgba(255, 255, 255, 0.82);
      background: rgba(47, 5, 5, 0.58);
      padding: 3px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(255, 255, 255, 0.4);
    }
  }
  > div.dropdown{
    top: calc(100% + 8px);
    right: 4px;
    width: 405px;

    > div.header{
      display: flex;
      justify-content: flex-end;
      > button.read-all-button{
        padding: 5px 15px;
        @extend .extendable-class-read-all_and_see-more;
        &:hover{
          color: rgb(16, 16, 16);
        }
      }
    }
    > div.footer{
      padding: 10px 0;
      background-color: rgb(250, 251, 252);
      border-top: 1px solid rgb(231, 232, 236);
      text-align: center;
      border-radius: 0 0 4px 4px;

      @extend .extendable-class-read-all_and_see-more;
    }
    > ul.notifications{
      max-height: 400px;
      overflow-y: scroll;
    }
  }
}
