:local(.local) {
  .category-button{
    background: rgba(255, 255, 255, 0.05);
    padding: 6px 20px;
    margin-bottom: 8px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: all 0.2s ease;
    .n{
      color: rgba(255, 255, 255, 0.78);
      font-size: 12px;
      align-self: center;
    }
    &:hover{
      background: rgba(255, 255, 255, 0.1);
    }
    &.-active{
      background: rgba(175, 180, 242, 0.65);
    }
  }

  .buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}
