@import 'css/variables';

:local(main.main){
  h2{
    margin: 20px 0;
    text-align: center;
  }
  form{
    .fieldset{
      max-width: 500px;
      margin: 0 auto;
      padding: 10px;
      border: 2px $sims-green-color solid;
    }
  }
}
