@import 'css/variables';

:local(section.instructions){
  margin-bottom: 40px;
  > div.nav-item{
    background: $purple;
    color: white;
    text-align: center;
    padding: 2px; padding-right: 20px;
    cursor: pointer;
    border: 2px solid #0d0e0d;
    &:first-child{ border-bottom: none; }
    i{ float: right; }
  }

  > .how-to-create{
    // border
    > nav{
      border: 2px solid black;
      > div.type:first-child{ border-right: 2px solid black; }
    }
    > div.current-type{ border: 2px solid black; border-top: none; }

    > nav{
      display: flex;
      > div.type{
        padding: 10px;
        width: 50%;
        cursor: pointer;

        // background
        background: #333030;
        &:not(.selected){ background: #b5b5b5; }
        &:hover:not(.selected){ background: #545353; }

        > div.title{
          width: 54px;
          margin: 0 auto;

          color: white;
          letter-spacing: 1px;
          line-height: 1.3;

          font-family: $body-font;
          font-weight: bold;
          font-size: 9px;
          padding: 4px;
          text-align: center;
        }
      }
    }
    > div.current-type{
      padding-left: 5px;
      > .gif-and-text{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 5px;
        padding-top: 5px;
        img{ max-width: 260px; }
        > .text{
          padding-left: 40px;
          > .description{
            b{ color: $purple; }
            i{
              color: $whale-tail-blue;
              padding-right: 10px;
              padding-left: 10px;
            }
          }
          > ol{
            list-style-type: decimal;
            padding-left: 30px;
            li{
              padding-bottom: 5px;
              b{ color: $purple; }
            }
          }
        }
      }
    }
  }

  > .how-to-learn{
    border: 2px solid rgb(13, 14, 13);
    border-top: none;
    padding: 20px 20px;
    > ol{
      list-style-type: decimal;
      padding-left: 30px;
      li{ margin-bottom: 10px; }
      img{ vertical-align: middle; }
      li.add-to-learned img{ width: 170px; }
      li.learn img{ width: 90px; }
      li.review img{ width: 90px; }
    }
  }
}
