:local(.local){
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  display: block;
  max-width: 304px;
  a{ font-size: 16px; }
  a.-github, a.-username{ margin-top: 30px; }
  > .button{
    border-radius: 2px;
  }
  > .button.sign-in{
    flex-basis: 167px;
    i{
      font-size: 20px;
      padding-left: 10px;
    }
    &.-gmail{
      background: rgb(212, 70, 56);
      color: white;
    }
    &.-github{
      background: rgb(136, 125, 220);
      color: white;
    }
    &.-username{
      background: rgb(94, 175, 94);
      color: white;
    }
  }
}
