:local(.list-of-courses){
  .course{
    cursor: pointer;
    &:hover{
      .actions i{
        opacity: 1;
      }
      // box-shadow: 0px 0px 1px 3px #2bd613;
    }
  }
}

:local(.list-of-courses){
  @media(max-width: 390px){
    > .course{
      > section.main{
        height: auto !important;
        padding-top: 4px !important;
      }
      article.description{
        padding-top: 4px !important;
        height: 32px !important;
      }
    }
  }
}
