@use '~/css/variables.scss';

:local(.header){
  .my-courses-toggler{
    .link.courses{
      margin-right: 10px;
      min-width: 116px;
      // padding-left: 0;

      .button.total-n-to-review-button{
        background: variables.$review-button-color;
        margin-left: 5px;

        padding: 0;
        letter-spacing: 0px;
        font-size: 9px;
        min-width: 23px;
        border-radius: 50%;
        aspect-ratio: 1;
        transition: all 0.3s ease;
        color: white;
        &.-zero.-not-loading{
          background: #ffffff2b;
          &:hover{ background: #ffffff2b; }
        }
        &:hover{
          background: variables.$review-button-color;
        }
        &.-loading {
          cursor: default;
          pointer-events: none;

          background: linear-gradient(to right, rgba(0, 0, 0, 0) 33%, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0) 66%), variables.$review-button-color;
          background-size: 400% 100%, cover;
          animation: change 1s linear infinite;
        }

        &.-just-saved {
          background: rgb(255, 68, 0);
          // animation: flash 1s ease-out;
        }
      }
    }
  }

  a.logo{
    display: flex;
    align-items: center;
    position: relative;

    img.christmas-icon{
      width: 51px;
    }

    img.halloween{
      width: 58px;
      padding-right: 5px;
    }
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button{
      font-size: 11px;
      text-transform: uppercase;
      min-width: auto;
    }
    .my-courses-toggler{
      height: 100%;
    }
    .link.create, .link.contact, .link.courses{
      margin-right: 10px;
      height: 100%;
      // border-radius: 0;
    }
    .link.courses{
      padding-right: 14px;
    }
  }

  .tippy-box{
    background-color: rgb(33, 36, 73);

    .tippy-arrow{
      color: rgb(33, 36, 73);
    }
  }



  section.current-user{
    display: flex;
    align-items: center;
    .avatar{
      display: block;
      width: 31px; height: 31px;
      img{
        // border: 3px solid rgb(86, 11, 90);
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
  // or
  button.sign-in{
    min-width: 0;
    background: rgba(239, 240, 249, 0.06);
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    border-radius: 0;

    &:hover {
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 33%, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0) 66%), rgb(36, 38, 54);
      background-size: 400% 100%, cover;
      animation: change 1s linear;
    }

    @keyframes holo-bg {
      0%, 100% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
    }
  }
  .container{
    display: flex;
    justify-content: space-between;
    height: 55px;
    > div.nav-and-current-user{
      display: flex;
    }
  }
}

:local(header.header){
  @media(max-width: 500px){
    a.logo img.halloween{ width: 45px; }

    .link.create, .notifications-toggler{
      display: none;
    }
    .button.sign-in, .link.courses{
      padding: 0 16px;
      min-width: auto;
    }
  }
  @media(max-width: 600px){
    .link.contact{
      display: none;
    }
  }
  @media(max-width: 350px){
    a.logo img.christmas-icon{ width: 36px; }
  }

}