@import 'css/variables';

:local(.header){
  background: rgba(34, 38, 74, 0.27);

  a.logo{
    display: flex;
    align-items: center;
    color: white;

    // position: relative;
    // top: 5px;
    // img.christmas-icon{
    //   width: 23px;
    //   position: absolute;
    //   top: -3px;
    //   left: -3px;
    // }
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .link{
      margin-right: 10px;
      height: 100%;
      width: 33.333%;
      text-transform: uppercase;
      font-size: 11px;
      color: white;
      min-width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      > div.toggler{
        cursor: pointer;
      }
      &.active{
        background: rgb(32, 35, 73);
      }
      &:hover:not(.active), &:focus:not(.active){
        background: rgba(32, 35, 73, 0.55);
      }
    }
  }


  section.current-user{
    display: flex;
    align-items: center;
    .avatar{
      width: 31px; height: 31px;
      img{
        // border: 3px solid rgb(86, 11, 90);
        width: 100%;
        height: 100%;
      }
    }

    > a.my-courses-link{
      height: 31px;
      font-size: 11px;
    }

    > section.learn-review-links{
      display: flex;
      > .button{
        height: 31px;
        min-width: 90px;
        margin-right: 10px;
        padding: 0;
      
        opacity: 0.9;
        &:hover{ opacity: 1; }
      }

    }
  }
  // or
  section.sign-in-links{
    display: flex;
    align-items: center;
    min-width: 150px;
    padding: 0 20px;
    background: rgb(24, 26, 46);
    > label.soliciting{
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 0.3px;
      padding-right: 16px;
      display: flex;
      align-items: center;
    }
    > div.links{
      display: flex;
      align-items: center;
      > a{
        // common
        > span.name{
          font-size: 11px;
          color: rgba(234, 234, 234, 0.9);
          padding-right: 5px;
          display: none;
        }

        > i{
          opacity: 0.9;
        }
        &:hover{
          > i{
            opacity: 1;
          }
        }

        // specific
        &.gmail{
          padding-right: 7px;
          > i{
            color: rgb(212, 70, 56);
            font-size: 20px;
            &:hover{ text-shadow: 0 0 8px rgba(212, 70, 56, 0.2); }
          }
        }
        &.github{
          padding-left: 7px;
          > i{
            color: rgb(136, 125, 220);
            font-size: 23px;
            &:hover{ text-shadow: 0 0 8px rgba(136, 125, 220, 0.2); }
          }
        }
      }
    }
  }

  .container.-desktop{
    display: flex;
    justify-content: space-between;
    height: 50px;
    > div.nav-and-current-user{
      display: flex;
    }

    section.search{
      flex-basis: 410px;
      flex-shrink: 1;
      flex-grow: 0;
      display: flex;
    }
  }
  .container.-mobile{
    padding-top: 10px;
    padding-bottom: 10px;
    nav{
      margin-top: 20px;
      .link{
        height: 31px;
        margin-right: 0;
        min-width: auto;
        &.-active{
          background: rgb(51, 53, 78);
        }
      }
    }
    > div.logo-and-user{
      display: flex;
      justify-content: space-between;
      align-items: center;
      > section.sign-in-links{
        padding: 0;
        background: none;
        justify-content: flex-end;
      }
      a.my-courses-link{
        display: none;
      }
    }
    > section.search{
      margin: 0 auto;
      margin-top: 20px;
      // max-width: initial;
      width: 100%;
    }
  }
}

:local(header.header){
  @media(max-width: 931px){
    // .christmas-icon {
    //   bottom: calc(100% - 3px);
    //   top: unset !important;
    // }
    .notifications-toggler-and-dropdown{ display: none }
  }
  @media(max-width: 500px){
    section.current-user{
      section.learn-review-links{
        a.button{
          margin-right: 5px;
        }
      }
    }
  }
}
