@import 'css/variables';

:local(section.actions-for-checked-problems){
  overflow: hidden;
  // layout
  &.-not-sticky{
    // for a .close-button
    position: relative;

    width: 100%;
    // otherwise dropdown goes to the bg
    z-index: 1;
  }
  &.-sticky{
    z-index: 100;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
  }

  // pretty
  color: white;
  background: rgb(15, 17, 34);
  // box-shadow: -1px 7px 12px 0px #887ddc38; // big border
  box-shadow: 2px 2px 10px 0px rgba(136, 125, 220, 0.15);

  > .request.loading{
    padding: 0;
    img{ width: 28px; }
  }

  // position: relative;
  > .container{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    // children styles
    > button.delete-button{
      &.-approving{
        color: #ec2727;
        min-width: 250px;
      }
    }
    button.button{
      height: 34px;
      padding: 0;
    }

    > section.choose-course-to-move-problems-to{
      flex-basis: 100%;
      display: flex;
      align-items: center;
      > label{
        b{ color: $purple; font-weight: 100; font-size: 16px; }
        width: 182px;
        font-size: 14px;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 1.2px;
      }
      > .standard-dropdown-wrapper{
        position: relative;
        width: 260px;
        margin-right: 30px;

        input{
          color: $purple;
          background: rgb(7, 9, 39);
          border-bottom: 1px solid $purple;
        }
      }
      > button.-move{
        min-width: 100px;
        > i.fa-exchange{
          padding-left: 10px;
        }
      }
    }

    > button.close-button{
      color: white;
      position: absolute;
      top: 0px; right: 20px;
      cursor: pointer;
      padding: 12px;

      opacity: 0.8;
      &:hover{ opacity: 1; }

      img{
        width: 20px;
        height: 20px;
      }
    }
  }
}
