@import 'css/variables';
$blue-color: #375598;
:local(section.actions-for-checked-problems){
  // layout
  &.-not-sticky{
    width: 100%;
    // otherwise dropdown goes to the bg
    z-index: 1;
    .container{ padding: 0; }
  }
  &.-sticky{
    z-index: 100;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
  }
  // pretty
  background: $deep-green;
  color: white;
  border-bottom: 2px solid rgba(89, 91, 95, 0.12);

  > .request.loading{
    padding: 0;
    img{ width: 28px; }
  }

  position: relative;
  > .container{
    padding: 5px 0px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    // shared styles
    button{
      padding: 6px 12px;
      font-size: 11px;
    }

    // children styles
    > button.delete-button{
      flex-basis: auto;
      &.-approving{
        background: #ec2727;
        width: 224px;
      }
    }

    > section.choose-course-to-move-problems-to{
      flex-basis: 100%;
      display: flex;
      align-items: center;
      > label{
        width: 165px;
        font-size: 14px;
        b{ opacity: 0.6; }
      }
      > .dropdown-wrapper{
        position: relative;
        width: 260px;
        margin-right: 30px;

        > input.toggler{
          background: transparent;
          color: white;
          border-bottom: 1px solid white;
          width: 100%;
          box-sizing: border-box;
          &::placeholder{
            color: white;
          }
        }

        > ul.standard-dropdown{
          z-index: 1000;
          max-height: 250px;
          overflow-y: auto;
          font-size: 14px;
        }
      }
      > button.-move{
        flex-basis: 102px;
        background: $blue-color;
        color: white;
        padding-right: 0;
        > i.fa-exchange{
          padding-left: 10px;
        }
      }
    }

    > button.close-button{
      color: white;
      position: absolute;
      top: -7px; right: 30px;
      padding: 12px;
      cursor: pointer;
      font-size: 17px;

      opacity: 0.8;
      &:hover{ opacity: 1; }
    }
  }
}
