@import 'css/variables';
$blue-color: #375598;
:local(section.actions-for-checked-problems){
  // layout
  &.-not-sticky{
    // for a .close-button
    position: relative;

    width: 100%;
    // otherwise dropdown goes to the bg
    z-index: 1;
    .container{ padding: 0; }
  }
  &.-sticky{
    z-index: 100;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
  }
  // pretty
  padding: 10px 20px;
  color: white;
  background: rgb(15, 17, 34);
  box-shadow: 1px 1px 11px rgb(136, 125, 220);  

  > .request.loading{
    padding: 0;
    img{ width: 28px; }
  }

  // position: relative;
  > .container{
    max-width: 1000px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    // children styles
    > button.delete-button{
      flex-basis: auto;
      &.-approving{
        background: #ec2727;
        width: 250px;
      }
    }

    > section.choose-course-to-move-problems-to{
      flex-basis: 100%;
      display: flex;
      align-items: center;
      > label{
        width: 165px;
        font-size: 14px;
        b{ color: $purple; }
      }
      > .standard-dropdown-wrapper{
        position: relative;
        width: 260px;
        margin-right: 30px;

        > ul.standard-dropdown{
          // z-index: 1000;
          // max-height: 250px;
          // overflow-y: auto;
          // font-size: 14px;
        }
      }
      .button{
        padding: 11px 20px;
      }
      > button.-move{
        flex-basis: 102px;
        padding-right: 0;
        > i.fa-exchange{
          padding-left: 10px;
        }
      }
    }

    > button.close-button{
      color: white;
      position: absolute;
      top: -7px; right: 30px;
      padding: 12px;
      cursor: pointer;
      font-size: 17px;

      opacity: 0.8;
      &:hover{ opacity: 1; }
    }
  }
}
