:local(.modal){
  // background: red;
  .react-select-container{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 350px;

    .react-select__control{
      border: none;
      box-shadow: none;
    }
  }
}
