@import 'css/variables';

:local(main.main){

  section.article-section.why-us{
    padding-bottom: 0;
    &.-continuation{
      border-top: none;
    }
    ul{
      li{
        padding: 3px 26px;
        line-height: 20px;
        margin-bottom: 10px;
      }
    }
  }
  h3.table-caption{
    font-weight: bold;
    color: #424242;
  }
  table{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 20px;

    line-height: 18px;
    font-size: 12px;

    background: $purple;
    color: white;
    box-shadow: 1px 3px 20px 3px rgba(54, 56, 53, 0.81);
    border: 2px solid $deep-green;
    tr{
      border-bottom: 1px solid white;
    }
    td, th{
      border-right: 1px solid rgba(255, 255, 255, 0.15);
      padding: 5px 10px;
      vertical-align: top;
    }
    thead a{
      color: #00ff1d;
      font-size: 14px;
      font-family: $heading-font;
    }
    tbody th{
      color: rgb(236, 96, 172);
    }
    margin-bottom: 20px;

    td{
      width: 20%;
    }
  }
}

@media(max-width: 600px){
  :local(main.main){
    .table-caption,
    table{
      display: none;
    }
  }
}
