@import 'css/variables';

:local(main.main){
  section.problem{
    background: #383131;
    box-shadow: 1px 3px 9px rgba(54, 56, 53, 0.39);
    margin-top: 10px;

    line-height: 18px;
    font-family: 'Amethysta';

    display: flex;
    justify-content: space-between;
    // for normal height
    align-items: flex-start;

    .first-column, .second-column{
      width: 50%;
      margin: 5px;
    }
  }

  section.problem.-withInlinedAnswers .first-column,
  section.problem.-withInlinedAnswers .second-column,
  section.problem.-withSeparateAnswer .first-column{
    background: white;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  section.problem.-withInlinedAnswers{
    input.answer{
      width: 100px;
      display: inline-block;
      padding: 0 10px;
      border: none;
      font-size: 16px;
      text-align: center;
      &:focus{ outline: none; }
      &.success{
        border: 3px solid $sims-green-color;
        background: rgba(0, 255, 29, 0.46);
        text-shadow: 0px 0px 14px white;
      }
      &.failure{
        border: 3px solid #f9637d;
      }
      &.waiting{
        border: 3px solid #FFEB3B;
      }
    }
  }

  section.problem.-withSeparateAnswer{
    > .second-column{
      > .see-answer{
        cursor: pointer;
        padding: 5px 10px;
        background: #adffb9;
      }
      > .answer{
        background: white;
        border: 5px solid rgba(45, 245, 83, 0.9);
        padding: 5px 10px;
        pre{
          background: #3e4e4c;
          margin-bottom: 0; margin-top: 0;
          padding: 10px;
          color: white;
          font-size: 13px;
        }
      }
    }
  }

  section.article-section.why-us{
    padding-bottom: 0;
    &.-continuation{
      border-top: none;
    }
    ul{
      li{
        padding: 3px 26px;
        box-sizing: border-box;
        line-height: 20px;
        font-family: $body-font;
        margin-bottom: 10px;
      }
    }
  }
  h3.table-caption{
    font-weight: bold;
    color: #424242;
  }
  table{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 20px;

    line-height: 18px;
    font-size: 12px;
    background: #383131;
    color: white;

    box-shadow: 1px 3px 20px 3px rgba(54, 56, 53, 0.81);
    tr{
      border-bottom: 1px solid #444444;
    }
    td, th{
      border-right: 1px solid #444444;
      padding: 5px 10px;
      vertical-align: top;
    }
    thead a{
      color: #00ff1d;
      font-size: 14px;
      font-family: $heading-font;
    }
    tbody th{
      color: #909090;
    }
    margin-bottom: 20px;

    td{
      width: 20%;
    }
  }
}

@media(max-width: 600px){
  :local(main.main){
    .table-caption,
    table{
      display: none;
    }
  }
}
