@import 'css/variables';

:local(header.header){
  background: $purple;

  section.logo{
    margin: 10px 0;
    img{ width: 145px; }
    // .memorizing-is-hard-caption{
    //   padding-left: 10px;
    //   color: white;
    //   font-size: 11px;
    //   line-height: 12px;
    // }
  }

  nav{
    font-family: $heading-font;
    display: flex;
    align-items: center;
    .link{
      padding: 9px 8px;
      text-transform: uppercase;
      font-size: 11px;
      color: white;
      height: 100%;
      display: flex;
      align-items: center;
      &.active, &:hover{
        background: rgb(236, 96, 172);
        i{ color: white !important; }
      }
    }

    a.link.create{
      i{
        color: $whale-pink;
        padding-right: 7px;
        font-size: 12px;
      }
    }
    div.link.articles{
      > .toggler{
        cursor: default;
        i{
          padding-left: 3px;
          color: $whale-pink;
        }
      }
      > .modal{
        text-transform: none;
      }
    }
  }

  section.current-user{
    display: flex;
    align-items: center;
    > a.avatar{
      display: block;
      line-height: 0;
      img{
        max-width: 30px;
        max-height: 30px;
      }
    }
  }
  // or
  section.sign-in-links{
    border-left: 2px solid rgba(236, 242, 255, 0.37);
    padding-left: 10px;
    display: flex;
    align-items: center;
    > h6.soliciting{
      font-size: 11px;
      color: white;
      opacity: 0.9;
      padding-right: 10px;
      display: flex;
      align-items: center;
    }
    > div.links{
      line-height: 0;
      > a{
        // common
        > span.name{
          font-size: 11px;
          color: rgba(234, 234, 234, 0.9);
          padding-right: 5px;
          display: none;
        }

        > i{
          opacity: 0.9;
        }
        &:hover{
          > i{
            opacity: 1;
          }
        }

        // specific
        &.gmail{
          padding-right: 7px;
          border-right: 1px solid rgba(255, 255, 255, 0.25);
          > i{
            color: #fbbc05;
            font-size: 20px;
          }
        }
        &.github{
          padding-left: 7px;
          > i{
            color: #c49bf9;
            font-size: 23px;
          }
        }
      }
    }
  }

  .container.-desktop{
    display: flex;
    justify-content: space-between;

    > div.nav-and-current-user{
      display: flex;
    }

    section.search{
      flex-basis: 280px;
      flex-shrink: 1;
      flex-grow: 0;
      display: flex;
      padding: 13px 0;
      > div.toggler{
        border: 2px solid rgba(236, 242, 255, 0.37);
        border-top: none;
        border-bottom: none;
      }
    }

    section.sign-in-links{
      padding: 6px;
    }

    a.link.courses{ margin-right: 20px; }
    a.link.create{ margin-right: 20px; }
    a.link.contact{ margin-right: 23px; }
    div.link.articles{ margin-right: 14px; }
  }
  .container.-mobile{
    padding-top: 2px;
    padding-bottom: 5px;
    > div.logo-and-user{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    > nav{
      justify-content: space-between;
      max-width: 337px;
      margin: 0 auto;
      > .link{
        // a little snugglier
        padding-bottom: 4px;
        padding-top: 7px;
      }
    }
    > section.search{
      margin: 0 auto;
      margin-top: 4px;
      max-width: 370px;

      padding: 1px 0;
      background: rgba(88, 88, 88, 0.2);
      border: 1px solid rgba(236, 242, 255, 0.04);
    }
  }
}

:local(header.header){
  @media(max-width: 930px){ .container.-desktop{ display: none; } }
  @media(min-width: 930px){ .container.-mobile{ display: none; } }
  .container.-mobile{
    @media(max-width: 400px){
      nav{
        a.link.create i{ display: none; }
      }
    }
  }
}
