
nav.nav{
  padding: 10px 0;
  background: #02071b;
  .active{
    background: rgba(0,0,0,0.08);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.06) inset,0px 1px 2px 0px rgba(255,255,255,0.1);
  }
  a{
    color: white;
    padding: 6px 9px;
    border-radius: 4px;
    text-transform: uppercase;
  }
  img{
    max-width: 50px;
  }
}
