@import 'css/variables';

:local(.list-of-courses){
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
  > .course{
    // layout
    height: 200px;
    width: 150px;

    margin-right: 10px; margin-left: 10px;
    margin-bottom: 20px;
    background: white;

    position: relative;
    > section.total-amount-of-mems{
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    > section.main{
      height: 140px;
      position: relative;
      .review-and-learn{
        position: absolute;
        top: 0; bottom: 0;
        width: 100%;
        .amount-of-mems-to-review-and-learn{
          bottom: 0;
          position: absolute;
          width: 100%;
        }
        .review-and-learn-links{
          height: 100%;
        }
      }
    }

    // pretty
    box-shadow: 0 2px 1px #777;
    text-align: center;

    > section.actions{
      padding-top: 4px;
      text-align: right;
      > a{
        cursor: pointer;
        padding-right: 10px;
        &:hover{
          opacity: 0.8;
        }
      }
    }

    > section.main{
      padding-top: 20px;
      > article.description{
        height: 76px;
        font-size: 12px;
        overflow: hidden;
        // so that long links break
        word-wrap: break-word;

        padding-top: 12px;
        padding-right: 10px;
        padding-left: 10px;
      }
      > .review-and-learn{
        > .review-and-learn-links{
          visibility: hidden;
          display: flex;
          > a.review, > a.learn-more{
            opacity: 0.9;
            width: 50%;
            color: white;
            font-size: 12px;
            font-weight: bold;

            // center text
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
              text-decoration: none;
              opacity: 1;
            }
          }
          > a.review{
            background: $review-button-color;
          }
          > a.learn-more{
            background: $learn-button-color;
          }
        }
        > .amount-of-mems-to-review-and-learn{
          display: flex;
          > .to-review.-colored{
            background: $review-button-color;
          }
          > .to-learn.-colored{
            background: $learn-button-color;
          }
          > .to-review, > .to-learn{
            width: 50%;
            // background: rgba(0, 0, 0, 0.5);
            color: white;
            z-index: 100;
            padding-top: 3px;
            padding-bottom: 3px;
          }
        }
      }
      &:hover{
        .review-and-learn-links{ visibility: visible; }
      }
    }

    > section.total-amount-of-mems, .amount-of-mems-to-review-and-learn{
      font-size: 11px;
      font-weight: bold;
    }
  }
  > .layout-div{
    width: 150px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
