@import 'css/variables';

:local(.list-of-courses){
  > .course{
    > section.main{
      > .review-and-learn{
        position: absolute;
        top: 0; bottom: 0;
        width: 100%;

        > .review-and-learn-links{
          height: 100%;
         
          visibility: hidden;
          display: flex;
          > a.review, > a.learn-more{
            opacity: 0.9;
            width: 50%;
            color: white;
            font-size: 12px;
            font-weight: bold;

            // center text
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
              text-decoration: none;
              opacity: 1;
            }
          }
          > a.review{
            background: $review-button-color;
            &.simulated{ background: #b1b0b0; }
          }
          > a.learn-more{
            background: $learn-button-color;
          }
        }
        > .amount-of-mems-to-review-and-learn{
          position: absolute;
          bottom: 0;
          width: 100%;
          display: flex;
          > .to-review.-nonzero{
            background: $review-button-color;
          }
          > .to-learn.-nonzero{
            background: $learn-button-color;
          }
          > .to-review.-zero{
            background: #b1b0b0;
          }
          > .to-review, > .to-learn{
            width: 50%;
            color: white;
            z-index: 100;
            padding-top: 3px;
            padding-bottom: 3px;
          }
        }
      }
      &:hover{
        .review-and-learn-links{ visibility: visible; }
      }
    }
  }
}


:local(.list-of-courses){
  @media(max-width: 390px){
    > .course{
      > section.main{ height: 52px !important; }
      article.description{ display: none; }
    }
  }
}
