@import 'css/variables';

:local(main.main){
  section.problems{
    section.problem{
      margin-bottom: 20px;
      background: rgba(245, 245, 245, 0.5);
      box-shadow: 0px 2px 3px rgba(189, 189, 189, 0.39);
      border-left: 2px solid $purple;
      * { cursor: default !important; }
    }
  }
}

:local(main.main){
  @media(max-width: 627px){
    > .container{ padding: 0 3px; }
    section.problems{
      .problem{
        > .first-column{ margin-right: 3px; }
        > .second-column{ margin-left: 3px; }
        .ql-editor{ padding: 4px 3px; }
      }
    }
  }
}
