@import 'css/variables';

:local(main.main){
  section.problems{
    max-width: 960px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;

    section.problem{
      margin-bottom: 20px;
      * { cursor: default !important; }
    }
  }
}
