@import 'css/variables';

:local(.edit){

  section.problems, div.new-problem{
    margin-left: 110px !important;
  }

  // list of problems
  section.problems{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
  }
  section.problem{
    .ql-editor:focus{
      background: rgb(40, 45, 88);
    }

    .quill{
      height: 100%;
    }

    &.-withInlinedAnswers{
      > .first-column{
        .ql-toolbar{
          .ql-formats{ margin-right: 9px !important; }
          .ql-formats:first-child{ margin-right: 2px !important; }
          padding-right: 0;
          button.ql-answer{
            font-size: 10px;
            width: 50px !important;
            padding: 0;
            text-align: center;
            border-radius: 2px;
            line-height: 10px;
            border: 1px solid rgb(44, 225, 83);
            color: rgb(166, 241, 182);
            font-weight: 300;
            &.ql-active, &:hover{
              // box-shadow: 0px 0px 6px 1px rgba(74, 241, 42, 0.39);
              text-shadow: 0 0 1px rgba(243, 243, 243, 0.5);
            }
            &::after{
              content: "Mark As Answer";
            }
          }
        }
      }
    }
    .ql-toolbar{}
  }
  .new-problem{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 25px;
    // to avoid editing problem at the bottom of the screen
    margin-bottom: 200px;
    padding: 0 8px;

    .ql-container{
      // minus the height of the toolbar
      height: calc(100% - 28px);
    }

    > section.how-to-create{
      margin-top: 15px;
      color: rgb(172, 181, 218);
      text-align: right;
      font-size: 12px;
      button.button{
        display: inline-block;
        margin-left: 10px;
        border-radius: 3px;
      }
    }
    > section.choose-type{
      position: absolute;
      top: 0; left: -90px;
      // for react-joyride
      padding-bottom: 20px;
      > label{
        display: block;
        font-size: 10px;
        padding-bottom: 8px;
        font-weight: 300;
        color: rgb(172, 181, 218);
      }
      > .buttons > button.button{
        font-size: 9px;
        padding: 7px 4px;
        opacity: 0.5;
        width: 84px;
        min-width: auto;
        background: $purple;
        color: white;
        font-weight: 300;

        border-radius: 3px;
        &:first-child{
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        &:last-child{
          border-top-right-radius: 0;
          border-top-left-radius: 0;
        }

        &.-active{
          opacity: 1;
          cursor: default;
        }
        &:not(.-active):hover{
          opacity: 0.7;
        }
      }
    }
  }
}

:local(main.main){
  @media(max-width: 1160px){
    .container.problems-container{
      padding-right: 112px;
    }
  }
  // @media(max-width: 900px) is unimportant!
  // because we're redirecting everyone to /courses/:id at that width!
}




:local(.view){
  section.problems{
    // max-width: 960px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;

    div.problem-wrapper{
      margin-bottom: 30px;
      display: flex;

      > div.index{
        width: 26px;
        flex-grow: 0;
        flex-shrink: 0;
        font-size: 12px;
        font-weight: 500;
        border-radius: 2px;
        background: radial-gradient(rgba(136, 125, 220, 0.91), $purple, $purple);

        display: flex;
        align-items: center;
        justify-content: center;
      }
      > section.problem{
        flex-grow: 1;
        flex-shrink: 1;
        margin-left: 12px;
        .quill{
          height: 100%;
        }
      }
    }
  }


  @media(max-width: 900px){
    section.problem{
      display: block;
      div.first-column,
      div.second-column{
        width: 100%;
      }
      div.first-column{
        padding-right: 0;
      }
      div.second-column{
        padding-left: 0;
        padding-top: 20px;
      }
    }
  }
}

